<div>

	<select style="display: block; clear: both; margin-bottom: 10px;"
	        ng-options="channel.name for channel in $ctrl.channelInfo"
	        ng-model="$ctrl.channel"></select>

	<div style="float: left;">
		<cc-sms-editor opts="$ctrl.channel"></cc-sms-editor>

		<input type="text"
		       placeholder="签名"
		       ng-model="$ctrl.channel.customSignature">

		<label><input type="checkbox" ng-model="$ctrl.channel.useUnsubscribe"> <span ng-bind="$ctrl.smsEditorOptions.unsubscribeText"></span></label>
	</div>

	<div style="float: left; margin-left: 50px;">
		<cc-sms-preview opts="$ctrl.channel"></cc-sms-preview>
	</div>

	<div style="clear: both;">
		<h2>短信编辑器结果：</h2>
		<div ng-bind="$ctrl.channel.text" style="border: 1px solid; padding: 10px; width: 500px;"></div>
	</div>

	<!--<div style="display: flex; flex: 1; justify-content: space-between;flex-direction: column">-->

		<!--<div style="align-self: flex-start">-->
			<!--<button type="button"-->
			        <!--cc-tooltip="'click me mdzzclick me mdzzclick me mdzzclick me mdzzclick me mdzzclick me mdzz'"-->
			        <!--tooltip-trigger="click">click toggle tooltip-->
			<!--</button>-->
		<!--</div>-->

		<!--<div style="align-self: flex-start">-->
			<!--<button type="button"-->
			        <!--cc-tooltip="'click me mdzzclick me mdzzclick me mdzzclick me mdzzclick me mdzzclick me mdzz'"-->
			        <!--tooltip-trigger="click">click toggle tooltip-->
			<!--</button>-->
		<!--</div>-->


	<!--</div>-->

	<!--<div style="display: flex; flex: 1; justify-content: space-between;flex-direction: column">-->

		<!--<div style="align-self: flex-end">-->
			<!--<button type="button"-->
			        <!--cc-tooltip="'click me mdzzclick me mdzzclick me mdzzclick me mdzzclick me mdzzclick me mdzz'"-->
			        <!--tooltip-trigger="click">click toggle tooltip-->
			<!--</button>-->
		<!--</div>-->

		<!--<div style="align-self: flex-end">-->
			<!--<button type="button"-->
			        <!--cc-tooltip="'click me mdzzclick me mdzzclick me mdzzclick me mdzzclick me mdzzclick me mdzz'"-->
			        <!--tooltip-trigger="click">click toggle tooltip-->
			<!--</button>-->
		<!--</div>-->


	<!--</div>-->

</div>
