<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>
  
		Pagination &middot; CCMS 组件库
  
</title>

<!-- Documentation extras -->
<link href="/ccms-components/assets/css/docs.css" rel="stylesheet">

  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    <header class="navbar navbar-light navbar-static-top bd-navbar">
  <div class="container">
    <nav>
      <div class="clearfix">
        <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
        <a class="navbar-brand hidden-sm-up" href="/ccms-components/">
					CCMS 组件库
        </a>
      </div>
      <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
						<a class="nav-item nav-link " href="/ccms-components/">CCMS 组件库</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link active" href="/ccms-components/components">Components</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>


    <div class="bd-pageheader">
      <div class="container">
        
  <h1>Components</h1>


      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
          <form class="bd-search hidden-sm-down">
  <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
  <div class="dropdown-menu bd-search-results" id="search-results"></div>
</form>

<nav class="bd-links" id="docsNavbarContent">
  
  
  
  

  

  <div class="bd-toc-item active">
    
        <a class="bd-toc-link" href="/ccms-components/components/checkbox">
      
        Components
      </a>

      <ul class="nav bd-sidenav">
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/checkbox">
              Checkbox
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/bind-html">
              Bind HTML
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/date-picker">
              Date Picker
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/dropdown">
              Dropdown
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/dynamic-attr">
              Dynamic-Attr
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/form">
              Form
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/grid">
              Grid
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/iconfont">
              Iconfont
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/layout">
              Layout
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/loading">
              Loading
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/menus">
              Menus
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/modal">
              Modal
            </a>

            
          </li>
        
          
          
          

          

          <li class="active bd-sidenav-active">
            <a href="/ccms-components/components/pagination">
              Pagination
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/radio-button">
              Radio Button
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/sample-component">
              Sample Component
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/tips">
              Tips
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/tooltip">
              Tooltip
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/tabset">
              Tabset
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/switch">
              Switch
            </a>

            
          </li>
        
      </ul>
    </div>
  
</nav>

        </div>
        <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
          <header>
            <h1 class="bd-title" id="content">Pagination</h1>
            
            <div class="maintainer"><span>Maintainer: yazheng.yu</span></div>
            
          </header>
          <h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#pagination-" id="markdown-toc-pagination-">pagination 指令配置</a></li>
  <li><a href="#examples" id="markdown-toc-examples">Examples</a></li>
</ul>

<h2 id="pagination-">pagination 指令配置</h2>

<ul>
  <li><code class="highlighter-rouge">type</code> <code class="highlighter-rouge">String</code> (enum: [‘normal’, ‘simple’], default: ‘normal’), 设置分页的风格</li>
  <li><code class="highlighter-rouge">totals</code> <code class="highlighter-rouge">Integer</code> (default: 0) 总条数</li>
  <li><code class="highlighter-rouge">total-pages</code> <code class="highlighter-rouge">Integer</code> (default: 1) 总页数</li>
  <li><code class="highlighter-rouge">page-num</code> <code class="highlighter-rouge">Integer</code> (default: 1) 当前页码</li>
  <li><code class="highlighter-rouge">page-size</code> <code class="highlighter-rouge">Integer</code> (default: 20) 每页显示条目数</li>
  <li><code class="highlighter-rouge">page-size-list</code> <code class="highlighter-rouge">Array(Integer)</code> (default: [10, 15, 20, 30, 50]) 每页显示条目数下拉选项</li>
  <li><code class="highlighter-rouge">page-size-list-disabled</code> <code class="highlighter-rouge">Boolean</code> (default: false) 禁止配置每页显示条目数(disabled not hidden)</li>
  <li><code class="highlighter-rouge">page-size-list-hidden</code> <code class="highlighter-rouge">Boolean</code> (default: false)  隐藏配置每页显示条目数</li>
  <li><code class="highlighter-rouge">on-change</code> <code class="highlighter-rouge">Function</code> 翻页回调</li>
</ul>

<h2 id="examples">Examples</h2>

<iframe width="100%" height="400" src="//jsfiddle.net/arzyu/3aeku9ee/embedded/result,html,js/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

        </div>
      </div>
    </div>

    <footer class="bd-footer text-muted">
  <div class="container">
		<p>CCMS Components
</p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" integrity="sha384-mXQoED/lFIuocc//nss8aJOIrz7X7XruhR6bO+sGceiSyMELoVdZkN7F0oYwcFH+" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/ccms-components/assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="/ccms-components/assets/js/vendor/tether.min.js"></script>


	<script src="/ccms-components/assets/js/vendor/anchor.min.js"></script>
	<script src="/ccms-components/assets/js/vendor/clipboard.min.js"></script>
	<script src="/ccms-components/assets/js/vendor/holder.min.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/ccms-components/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/ccms-components/assets/js/ie-emulation-modes-warning.js"></script>


<script src="/ccms-components/assets/js/vendor/jekyll-search.min.js"></script>

<script>
SimpleJekyllSearch.init({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('search-results'),
  searchResultTemplate: '<a class="dropdown-item" href="{url}">{title}</a>',
  noResultsText: '<div class="dropdown-item no-results">Sorry, there are no results for that search.</div>',
  json: '/ccms-components/search.json'
})
</script>


<script>
Holder.addTheme('gray', {
  bg: '#777',
  fg: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>

  </body>
</html>
