@import "../styles/variables";
@import "../styles/placeholders";
@import "../styles/mixins";
@import "../styles/input";
@import "../../assets/iconfont/iconfont";

$pagination-border: 1px solid #eaeaea;
$pagination-font-color: #636363;
$pagination-linear-color-start: #fafafa;
$pagination-linear-color-end: #f3f3f3;
$pagination-input-height: 26px;

cc-pagination {
	display: inline-block;

	.p-pager {
		float: right;
	}

	.p-group {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		float: left;
		height: 39px;
		line-height: 39px;
		font-size: 12px;
	}

	%p-button {
		border: 0 none;
		cursor: pointer;
		float: left;
		position: relative;
		top: 4px;
		span {
			display: block;
			float: left;
			height: 16px;
			width: 16px;
		}
		&:hover {
			color: #828282;
		}
	}
	%p-btn-disabled {
		color: #D1D1D1;
	}
	.pcontrol {
		overflow: visible;
		position: relative;
		font-family: $font-string;
		font-size: 12px;
		input {
			width: auto;
			max-width: 60px;
			min-width: 34px;
			padding: 0 4px;
			background-color: #ffffff;
			border: 1px solid #d9d9d9;
			height: $pagination-input-height;
			line-height: 24px;
			font-size: 12px;
			color: #3A3A3A;
			position: relative;
			text-align: center;
			margin-right: 8px;
			font-family: $font-number;
		}

	}
	.p-first {
		@extend %p-button;
		@extend .iconfont;
		@extend .icon-lastpage;
		@include pagebtn;
		transform: rotate(180deg);
	}

	.p-prev {
		@extend %p-button;
		@extend .iconfont;
		@extend .icon-nextpage;
		@include pagebtn;
		transform: rotate(180deg);
		margin: 0 12px 0 10px;
	}
	.p-next {
		@extend %p-button;
		@extend .iconfont;
		@extend .icon-nextpage;
		@include pagebtn;
		margin: 0 11px;
	}
	.p-last {
		@extend %p-button;
		@extend .iconfont;
		@extend .icon-lastpage;
		@include pagebtn;
		margin-right: 27px;
	}

	.p-group.disabled {
		.p-first, .p-prev, .p-next, .p-last {
			@extend %p-btn-disabled;
			cursor: not-allowed;
		}
	}

	input {
		height: $pagination-input-height;
	}

	select {
		width: 85%;
		height: $pagination-input-height;
		margin-right: 11px;
	}

}
