@import "../styles/variables";
@import "../styles/placeholders";
@import "../styles/mixins";
@import "../styles/input";
@import "../../assets/iconfont/iconfont";

$pagination-border: 1px solid #eaeaea;
$pagination-font-color: #636363;
$pagination-linear-color-start: #fafafa;
$pagination-linear-color-end: #f3f3f3;
$pagination-input-height: 26px;

pagination > div {

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 39px;

	@extend %clear-fix;

	background-color: #f6f6f6;

	border: 1px solid #e8e8e8;
	color: #666666;

	white-space: nowrap;

	.p-pager {
		float: right;
	}

	.page-con {
		@include fonts;
		color: #666666;
		line-height: 39px;
		padding-left: 11px;
		span {
			margin-right: 18px;
			float: left;
		}
		.font-num {
			font-family: $font-number;
			float: none;
			margin-right: 0px;
		}
	}

	.p-group {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		float: left;
		height: 39px;
		line-height: 39px;
		font-size: 12px;
	}

	%p-button {
		border: 0 none;
		cursor: pointer;
		float: left;
		position: relative;
		top: 4px;
		span {
			display: block;
			float: left;
			height: 16px;
			width: 16px;
		}
		&:hover {
			color: #828282;
		}
	}
	%p-btn-disabled {
		color: #D1D1D1;
	}
	.pcontrol {
		overflow: visible;
		position: relative;
		font-family: $font-string;
		font-size: 12px;
		input {
			background-color: #ffffff;
			border: 1px solid #d9d9d9;
			height: $pagination-input-height;
			line-height: 24px;
			font-size: 12px;
			color: #3A3A3A;
			position: relative;
			text-align: center;
			width: 35px;
			margin-right: 8px;
			font-family: $font-number;
		}

	}
	.p-reload {
		@extend %p-button;
		@extend .iconfont;
		@extend .icon-iconfontrefresh;
		width: 12px;
		height: 12px;
		top: -1px;
		font-size: 14px;
		color: #929292;
		margin-right: 4px;
	}
	@-moz-document url-prefix() {
		.p-reload {
			top: -2px;
		}
	}
	.p-first {
		@extend %p-button;
		@extend .iconfont;
		@extend .icon-iconfontpreviouspage;
		@include pagebtn;
	}

	.p-prev {
		@extend %p-button;
		@extend .iconfont;
		@extend .icon-iconfontpageleft;
		@include pagebtn;
		margin: 0 12px 0 10px;
	}
	.p-next {
		@extend %p-button;
		@extend .iconfont;
		@extend .icon-iconfontpageright;
		@include pagebtn;
		margin: 0 11px;
	}
	.p-last {
		@extend %p-button;
		@extend .iconfont;
		@extend .icon-iconfontpagedown;
		@include pagebtn;
		margin-right: 27px;
	}

	.p-group.disabled {
		.p-first, .p-prev, .p-next, .p-last {
			@extend %p-btn-disabled;
			cursor: not-allowed;
		}
	}

	input {
		width: 35px;
		height: $pagination-input-height;
	}

	select {
		width: 85%;
		height: $pagination-input-height;
		margin-right: 11px;
	}

}
