<div class="p-pager" ng-cloak ng-switch on="$ctrl.pageLayout">
	<div class="p-group"></div>
	<div class="p-group" ng-class="{disabled:$ctrl.pageNum===1}">
		<div class="p-first"
				ng-switch-when="normal"
				ng-click="$ctrl.changePageNumByShortcut('first')"></div>
		<div class="p-prev" ng-click="$ctrl.changePageNumByShortcut('prev')"></div>
	</div>
	<div class="p-group">
		<span class="pcontrol">
			<input type="text"
					ng-switch-when="normal"
					ng-blur="$ctrl.changePageNumByInput($event)"
					ng-enter="$ctrl.changePageNumByInput($event)"
					ng-dom-value="$ctrl.pageNum">
			<span>
				<span style="font-family: Tahoma"
						ng-switch-when="simple"
						ng-bind="$ctrl.pageNum"></span>
				/ 共<span ng-bind="$ctrl.totalPages" style="font-family: Tahoma"></span>页</span>
		</span>
	</div>
	<div class="p-group" ng-class="{disabled:$ctrl.pageNum===$ctrl.totalPages}">
		<div class="p-next" ng-click="$ctrl.changePageNumByShortcut('next')"></div>
		<div class="p-last"
				ng-switch-when="normal"
				ng-click="$ctrl.changePageNumByShortcut('last')"></div>
	</div>
	<div class="p-group"
			ng-switch-when="normal"
			ng-if="$ctrl.showPageSizeList">
		<select
				ng-options="pageSize for pageSize in ::$ctrl.pageSizeList track by pageSize"
				ng-model="$ctrl.pageSize"
				ng-change="$ctrl.changePageSize($ctrl.pageSize)">
		</select>
	</div>
</div>

