<div class="p-pager" ng-cloak ng-switch on="$ctrl.type">
	<div class="p-group"></div>
	<div class="p-group" ng-class="{disabled:$ctrl.pageNum===1}">
		<div class="p-first"
				ng-switch-when="normal"
				ng-click="$ctrl.changePageNumByShortcut('first')"></div>
		<div class="p-prev" ng-click="$ctrl.changePageNumByShortcut('prev')"></div>
	</div>
	<div class="p-group">
		<span class="pcontrol">
			<input type="text" size="{{$ctrl.totalPages.toString().length}}"
					ng-switch-when="normal"
                    ng-disabled="$ctrl.totalPages===1"
					ng-blur="$ctrl.changePageNumByInput()"
					ng-enter="$ctrl.changePageNumByInput()"
					ng-model="$ctrl._tmpPageNum">
			<span>
				<span style="font-family: Tahoma"
						ng-switch-when="simple"
						ng-bind="$ctrl.pageNum"></span>
				/ 共<span ng-bind="$ctrl.totalPages" style="font-family: Tahoma"></span>页</span>
		</span>
	</div>
	<div class="p-group" ng-class="{disabled:$ctrl.pageNum===$ctrl.totalPages}">
		<div class="p-next" ng-click="$ctrl.changePageNumByShortcut('next')"></div>
		<div class="p-last"
				ng-switch-when="normal"
				ng-click="$ctrl.changePageNumByShortcut('last')"></div>
	</div>
	<div class="p-group" ng-if="!$ctrl.pageSizeListHidden" ng-switch-when="normal" style="margin-left: 27px;">
		<select
				ng-disabled="$ctrl.pageSizeListDisabled"
				ng-options="pageSize for pageSize in ::$ctrl.pageSizeList track by pageSize"
				ng-model="$ctrl.pageSize"
				ng-change="$ctrl.changePageSize($ctrl.pageSize)">
		</select>
	</div>
</div>

