<div class="pagination"
		ng-switch="$ctrl.type"
		ng-class="{ 'first-page': $ctrl.isFirstPage, 'last-page':  $ctrl.isLastPage}">

	<a class="first" ng-switch-when="normal" ng-click="!$ctrl.isFirstPage && $ctrl.first()"><span>first</span></a>
	<a class="previous" ng-click="!$ctrl.isFirstPage && $ctrl.previous()"><span>previous</span></a>
	<span class="jump">
		<input size="{{$ctrl.totalPages.toString().length}}"
				ng-switch-when="normal"
				ng-disabled="$ctrl.totalPages === 1"
				ng-blur="$ctrl.inputPage = $ctrl.pageNum"
				ng-enter="$ctrl.goto($ctrl.inputPage) || ( $ctrl.inputPage = $ctrl.pageNum )"
				ng-model="$ctrl.inputPage">
		<span ng-switch-when="simple" ng-bind="$ctrl.pageNum"></span> / 共<span ng-bind="$ctrl.totalPages"></span>页
	</span>
	<a class="next" ng-click="!$ctrl.isLastPage && $ctrl.next()"><span>next</span></a>
	<a class="last" ng-switch-when="normal" ng-click="!$ctrl.isLastPage && $ctrl.last()"><span>last</span></a>
	<select ng-if="!$ctrl.pageSizeListHidden"
			ng-options="pageSize for pageSize in ::$ctrl.pageSizeList track by pageSize"
			ng-model="$ctrl.pageSize"
			ng-change="$ctrl.setPageSize($ctrl.pageSize)"
			ng-disabled="$ctrl.pageSizeListDisabled">
	</select>
</div>

