<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>cc-tips</title>
	<link rel="import" href="../demos-menu.html">
	<style>
		section {
			margin-left: 250px;
		}
	</style>
</head>
<body ng-app="app" ng-controller="ctrl">

<aside></aside>
<section>
	<cc-tips msg="普通常显<span style='color:red;display:inline-block'>提示</span>"></cc-tips>

	<cc-tips style="max-width: 300px"
		  msg="普通常显提示,当提示文字多时,右侧需要出现展开icon,点击展开更多查看更多内容.普通常显提示,当提示文字多时,右侧需要出现展开icon,点击展开更多查看更多内容."></cc-tips>

	<cc-tips msg="重要常显提示" type="major"></cc-tips>

	<cc-tips msg="警告常显提示" type="warning"></cc-tips>

	<button type="button" ng-click="showSuccess()">show success</button>

	<button type="button" ng-click="showError()">show error</button>

	<button type="button" ng-click="showModal()">show modal</button>
</section>

<ui-view></ui-view>

<script src="/components.js"></script>

<!--<script src="/node_modules/angular/angular.min.js"></script>-->
<!--<script src="/node_modules/angular-resource/angular-resource.min.js"></script>-->
<!--<script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>-->
<!--<script src="/dist/ccms_components.js"></script>-->
<script src="index.js"></script>
<script>
	var link = document.querySelector('link[rel="import"]');
	var content = link.import;
	var aside = content.querySelector('aside');
	document.querySelector('aside').appendChild(aside.cloneNode(true));
</script>

</body>
</html>
