<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>customer-profile-board</title>
	<link rel="import" href="../../common/demos-menu.html">
	<style>

		body {
			display: flex;
		}

		aside {
			width: 240px;
		}

		.main {
			order: 1;
			padding: 0 0 0 20px;
		}

	</style>
</head>
<body ng-app="app" ng-controller="ctrl">

	<aside></aside>
	<div class="main">
		<h1>Customer profile board Demo</h1>

		<div>
			<h2>Demo</h2>
			<fieldset>
				<legend>customerInformation</legend>
				<label>nickName(用户昵称): </label><input type="text" ng-model="customerInformation.nickName">
				<label>shopId(店铺ID): </label><input type="text" ng-model="customerInformation.shopId">
				<label>tenantId(租户Id): </label><input type="text" ng-model="customerInformation.tenantId">
				<label>platName(平台名): </label><input type="text" ng-model="customerInformation.platName">
			</fieldset>
			<br>
			<button ng-click="pop()">popProfileBoardModal</button>
		</div>
	</div>

<script src="index.js"></script>
</body>
</html>
