<div class="customer-profile-view-mode">
	<div class="center-icon">
		<div class="center-icon-body"></div>
		<div class="center-icon-text">意向客户</div>
	</div>
	<div class="note-container note-container--left">
		<customer-attribute-note customer-attribute="$ctrl.attributesList[1]" change-to-specific-attribute-block="$ctrl.changeToSpecificAttributeBlock({name})"></customer-attribute-note>
		<customer-attribute-note customer-attribute="$ctrl.attributesList[2]" change-to-specific-attribute-block="$ctrl.changeToSpecificAttributeBlock({name})"></customer-attribute-note>
	</div>
	<div class="note-container note-container--right">
		<customer-attribute-note customer-attribute="$ctrl.attributesList[0]" change-to-specific-attribute-block="$ctrl.changeToSpecificAttributeBlock({name})"></customer-attribute-note>
	</div>
</div>
