<div class="customer-profile-view-mode">
	<div class="center-icon" ng-class="{ 'tags-not-found': !$ctrl.customerTags.length }">
		<div class="center-icon-body iconfont">&#xe65f;</div>
		<div class="center-icon-text" ng-bind="$ctrl.customerTags.length ? '意向客户' : '暂无匹配'"></div>
	</div>
	<div class="note-container note-container--left">
		<cc-customer-attribute-note customer-attribute="$ctrl.attributesSetting[1]" change-to-specific-attribute-block="$ctrl.changeToSpecificAttributeBlock({name})"></cc-customer-attribute-note>
		<cc-customer-attribute-note customer-attribute="$ctrl.attributesSetting[2]" change-to-specific-attribute-block="$ctrl.changeToSpecificAttributeBlock({name})"></cc-customer-attribute-note>
	</div>
	<div class="note-container note-container--right">
		<cc-customer-attribute-note customer-attribute="$ctrl.attributesSetting[0]" change-to-specific-attribute-block="$ctrl.changeToSpecificAttributeBlock({name})"></cc-customer-attribute-note>
	</div>
</div>
