<div id="kuitos-modal">

	<button ng-click="$ctrl.close()">关闭</button>

	<button type="button" ng-click="$ctrl.showSuccess()">show success</button>
	<button type="button" ng-click="$ctrl.showError()">show error</button>

	<p ng-repeat="d in Ctrl.array" ng-bind="d"></p>

	<div>

		<span ng-repeat="a in $ctrl.scopedArray track by $index">
			{{a}}
			<br/>
		</span>

		<div>

			<ckeditor ng-if data="data"></ckeditor>

		</div>

	</div>

	<button ng-click="$ctrl.addRandom()">add random to scoped array</button>

	<scope array="array"></scope>

</div>
