.cc-tree-menu {
  display: none;
  position: fixed;
  z-index: 100;
  padding: 3px 0;
  border: 1px solid #E8E8E8;
  width: 86px;
  background-color: #FFFFFF;

  > li {
	height: 22px;
	line-height: 22px;
	padding-left: 16px;
	cursor: pointer;

	&:hover {
	  background-color: #e9e9e9;
	}
  }
}
