{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari 7"]
      },
      "useBuiltIns": true,
      "include": ["es6.object.assign", "es6.array.find", "es6.regexp.flags"]
    }]
  ],
  "plugins": ["transform-decorators-legacy", "transform-object-rest-spread", "transform-class-properties", "transform-function-bind"]
}
