{
  "presets": [
    ["env", {
      "targets": {
        "chrome": 44,
        "browsers": ["last 2 versions", "safari 7"]
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": ["transform-decorators-legacy", "transform-object-rest-spread", "transform-class-properties", "transform-function-bind"]
}
