@import "../styles/input";

.form-wrapper {

  fieldset {

    border: 0;
    font-family: $font;
    font-size: 12px;
    position: relative;

    label {
      display: inline-block;
      color: #666666;
      padding-right: 40px;
      text-align: right;
      width: 120px;
    }

  }
}
