<div class="footer-info">
	<span>已选：</span>
	<span>条件(5条)</span>
	<span class="plus-icon" ng-show="$ctrl.opts.selectedData.length > 0">+</span>
	<span ng-show="$ctrl.opts.selectedData.length > 0">商品({{$ctrl.opts.selectedData.length}})件</span>
</div>
<span class="delimiter"></span>
<cc-pagination
		page-size-list-disabled
		page-num="$ctrl.opts.pager.pageNum"
		page-size="$ctrl.opts.pager.pageSize"
		page-size-list="$ctrl.opts.pager.pageSizeList"
		total-pages="$ctrl.opts.pager.totalPages"
		on-change="$ctrl.onPagerChange(pageNum, pageSize)">
</cc-pagination>
