<td style="width: 45px" ng-show="entity.parentId !== 0"></td>
<td ng-click="entity.isSelected = !entity.isSelected;$ctrl.opts.toggelSelectParSon(entity, index)" style="width: 42px" class="checkbox">
	<input type="checkbox" ng-checked="entity.isSelected">
</td>
<!--展开收起按钮-->
<td style="padding-left: 10px" aria-init="showAdd = false;" ng-show="entity.parentId === 0 && entity.hasChildren" class="goods-toggle-button" ng-click="showAdd = !showAdd;$ctrl.opts.toggleShowChildList(entity)">
	<div ng-show="!showAdd">—</div>
	<div ng-show="showAdd">+</div>
</td>
<td ng-show="entity.parentId === 0 && !entity.hasChildren" class="goods-toggle-button"></td>
<!--默认的表格行元素模板-->
<td ng-repeat="column in $ctrl.opts.columnsDef track by $index"
	ng-if="!column.isHidden"
	ng-style="{width:column.width}">
	<cc-grid-cell ng-class="column.align" base-scope="$ctrl.$scope.$parent" column="column" entity="entity"></cc-grid-cell>
</td>
<td class="hidden-columns" ng-if="$ctrl.opts.enableHiddenColumns"></td>
