<td class="row-cell">
	<cc-checkbox ng-click="$ctrl.opts.selectTreeRootItem(entity)"
				 ng-checked="entity.checked"
				 indeterminate="entity.partial">
	</cc-checkbox>
	<i class="tree-icon iconfont"
	   ng-class="{'icon-subtract': entity.extend, 'icon-add': !entity.extend}"
	   ng-if="entity.skus && entity.skus.length"
	   ng-click="$ctrl.opts.handleTreeIcon(entity)">
	</i>
</td>
<td>
	<a href="{{entity.detailUrl}}" class="goods-name">
		<img src="{{entity.picUrl}}" alt="">
		<span ng-bind="entity.name"></span>
	</a>
</td>
<!--默认的表格行元素模板-->
<td ng-repeat="column in $ctrl.opts.columnsDef track by $index"
	ng-if="!column.isHidden"
	ng-style="{width:column.width}">
	<cc-grid-cell ng-class="column.align" base-scope="$ctrl.$scope.$parent" column="column" entity="entity"></cc-grid-cell>
</td>
<td class="hidden-columns" ng-if="$ctrl.opts.enableHiddenColumns"></td>
<td class="remove-btn" ng-click="$ctrl.opts.removeTreeRootItem(entity)">移除</td>
