<td class="row-cell">
	<input type="checkbox">
	<div class="goods-toggle-button"
		 aria-init="extend = false;"
		 ng-if="entity.skus && entity.skus.length"
		 ng-click="extend = !extend; $ctrl.opts.toggleSelect()">
		<i ng-if="!extend" class="iconfont icon-subtract"></i>
		<i ng-if="extend" class="iconfont icon-add"></i>
	</div>
</td>
<td>
	<a href="{{entity.detailUrl}}" class="goods-name">
		<img src="{{entity.picUrl}}" alt="">
		<span ng-bind="entity.name"></span>
	</a>
</td>
<!--默认的表格行元素模板-->
<td ng-repeat="column in $ctrl.opts.columnsDef track by $index"
	ng-if="!column.isHidden"
	ng-style="{width:column.width}">
	<cc-grid-cell ng-class="column.align" base-scope="$ctrl.$scope.$parent" column="column" entity="entity"></cc-grid-cell>
</td>
<td class="hidden-columns" ng-if="$ctrl.opts.enableHiddenColumns"></td>
