<div class="footer-info">
	<span>已选：条件(55条)</span>
	<span class="plus-icon">+</span>
	<span>商品(1,345)件</span>
	<span class="plus-icon">+</span>
	<span>SKU(45)种</span>
</div>
<span class="delimiter"></span>
<cc-pagination
		page-size-list-disabled
		page-num="$ctrl.opts.pager.pageNum"
		page-size="$ctrl.opts.pager.pageSize"
		page-size-list="$ctrl.opts.pager.pageSizeList"
		total-pages="$ctrl.opts.pager.totalPages"
		page-size-list-disabled="$ctrl.opts.pager.pageSizeListDisabled"
		on-change="$ctrl.onPagerChange(pageNum, pageSize)">
</cc-pagination>
