<td class="sku-row-cell">
	<cc-checkbox class="sd-child-node"
				 ng-checked="sku.checked"
				 ng-click="$ctrl.opts.selectTreeLeafItem(entity, sku)">
	</cc-checkbox>
</td>
<td style="padding-left: 10px;">
	<a href="{{entity.detailUrl}}" class="goods-name">
		<img src="{{sku.picUrl}}" alt="">
		<span ng-bind-html="$ctrl.opts.lightText($ctrl.opts.getSkuName(sku), $ctrl.opts.formModel.skusPropsVname)" class="sku" cc-tooltip="$ctrl.opts.getSkuName(sku)" tooltip-placement="top" tooltip-append-to-body="true"></span>
	</a>
</td>
<!--默认的表格行元素模板-->
<td ng-repeat="column in $ctrl.opts.columnsDef track by $index"
	ng-if="!column.isHidden"
	ng-style="{width:column.width, 'padding-left': '10px'}">
	<cc-grid-cell ng-class="column.align" base-scope="$ctrl.$scope.$parent" column="column" entity="sku"></cc-grid-cell>
</td>
<td class="hidden-columns" ng-if="$ctrl.opts.enableHiddenColumns"></td>
<td>
	<span ng-bind-html="sku.quantity + '件'"></span>
</td>
<td>
	<span ng-bind-html="$ctrl.opts.getPrice(sku.price)"></span>
</td>
<td>
	<span ng-bind-html="$ctrl.opts.lightText(sku.outerId, $ctrl.opts.formModel.skusOuterId)"></span>
</td>
<td class="remove-btn" ng-click="$ctrl.opts.removeTreeLeafItem(entity, sku)">移除</td>
