$board-background: #f3f3f3;

.ccms-modal[data-uid="customer-profile-board"] .container.modal .modal-body{
  overflow: initial;
}

.customer-profile-board{
  height: 100%;
  background: $board-background;
}
