<div class="customer-profile-board">
	<cc-customer-profile-header
			customer-data="$ctrl.customerData"
			view-mode="$ctrl.viewMode"
			change-to-view="$ctrl.changeToViewMode()"
			change-to-list="$ctrl.changeToListMode()"></cc-customer-profile-header>
	<cc-customer-profile-list-mode
			ng-if="!$ctrl.viewMode"
			attributes-setting="$ctrl.customerAttributeSetting"
			customer-data="$ctrl.customerData"
			scroll-to-attribute-block="$ctrl.scrollToAttributeBlock(index)"></cc-customer-profile-list-mode>
	<cc-customer-profile-view-mode
			ng-if="$ctrl.viewMode"
			customer-tags="$ctrl.customerTags"
			attributes-setting="$ctrl.customerAttributeSetting"
			change-to-specific-attribute-block="$ctrl.changeToSpecificAttributeBlock(name)"></cc-customer-profile-view-mode>
</div>
