@import '../../assets/iconfont/iconfont';
@import "../styles/placeholders";
@import '../styles/variables';
@import "../styles/mixins";

$table-border: 1px solid #e8e8e8;
$table-bottom-height: 39px;
$td-padding: 0 8px;

$thead-bg: #f1f1f1;
$tr-even-bg: #fafafa;
$tr-hover-bg: #eef8fc;

$init-color: #70a2c7;

grid {

	display: inline-block;

	position: relative;
	width: 100%;
	height: 100%;

	.non-pager-grid .ccms-table-wrapper {
		bottom: 0;
	}

	& > .footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 39px;
		background-color: #f6f6f6;
		border: 1px solid #e8e8e8;
		color: #666666;
		white-space: nowrap;
		@extend %clear-fix;

		.page-con {
			@include fonts;
			display: inline-block;
			float: left;
			color: #666666;
			line-height: 39px;
			padding-left: 11px;

			%p-button {
				border: 0 none;
				cursor: pointer;
				float: left;
				position: relative;
				top: 4px;
				span {
					display: block;
					float: left;
					height: 16px;
					width: 16px;
				}
				&:hover {
					color: #828282;
				}
			}

			span {
				margin-right: 18px;
				float: left;
			}

			.font-num {
				font-family: $font-number;
				float: none;
				margin-right: 0px;
			}

			.reload {
				display: inline-block;
				cursor: pointer;
			}

			.p-reload {
				@extend %p-button;
				@extend .iconfont;
				@extend .icon-refresh;
				width: 12px;
				height: 12px;
				top: -1px;
				font-size: 14px;
				color: #929292;
				margin-right: 4px;
			}

			@-moz-document url-prefix() {
				.p-reload {
					top: -2px;
				}
			}
		}

		& > pagination {
			float: right;
		}
	}
}

.ccms-table-wrapper {
	background-color: #fff;
	border: $table-border;
	overflow: auto;
	position: absolute;
	bottom: $table-bottom-height;
	left: 0;
	right: 0;
	top: 0;

	&,
	& * {
		box-sizing: border-box;
	}
}

.ccms-table {
	background-color: #fff;
	border-collapse: collapse;
	color: $color-text;
	font-family: $font-family;
	font-size: $font-size-base;
	table-layout: fixed;
	width: 100%;

	tr {
		border-bottom: $table-border;
		height: 42px;

		&:nth-child(even) {
			background-color: $tr-even-bg;
		}

		&.row-selected {
			background-color: $tr-hover-bg;
		}
	}

	thead > tr {
		background: $thead-bg;
		color: $color-text-light;
	}

	tbody > tr:hover {
		background-color: $tr-hover-bg;
	}

	th {
		font-weight: 400;
		padding: $td-padding;
		text-align: left;
	}

	td {
		@include cut-long-text;
		white-space: normal;
		padding: $td-padding;
	}

	.checkbox {
		text-align: center;
		width: 38px;

		& + th,
		& + td {
			padding-left: 0;
		}
	}
}

.init-msg {
	@extend %absolute-center;
	@include all-link($init-color);

	span {
		font-family: $font-family;
		font-size: $font-size-large;
		height: 40px;
		line-height: 40px;
		color: $font-color-comment;
		vertical-align: middle;

		&.msg {
			margin-left: 15px;
		}

		&.warning {
			font-size: 44px;
			@extend .iconfont;
			@extend .icon-caution;
		}
	}
}

.grid-loading {
	@extend %absolute-center;
}

grid-cell {
	display: flex;
	justify-content: flex-start;
	word-break: break-all;

	&.left {
		justify-content: flex-start;
	}

	&.right {
		justify-content: flex-end;
	}

	&.center {
		justify-content: center;
	}

}
