<section class="cc-grid">
    <!--表格头部-->
    <header class="ccms-table-wrapper">
        <table class="ccms-table">
            <thead>
            <tr cc-bind-html="$ctrl.headerTemplate"></tr>
            </thead>
        </table>
    </header>

    <!--表格体-->
    <div style="top:43px" data-id="tbody" cc-nice-scroll class="ccms-table-wrapper">

        <table class="ccms-table">
            <tbody cc-bind-html="$ctrl.bodyTemplate">
            </tbody>
        </table>

        <!--表格没数据的提示信息-->
        <div ng-if="!$ctrl.opts.loading && !$ctrl.opts.data.length" cc-bind-html="$ctrl.emptyTipsTemplate"></div>

        <cc-loading ng-show="$ctrl.opts.loading" class="grid-loading"></cc-loading>

    </div>

    <!--分页-->
    <footer class="footer" ng-if="$ctrl.opts.showPagination">
        <article class="page-con">
            <span ng-show="$ctrl.selectedItems.length">已选<span ng-bind="$ctrl.selectedItems.length"
                                                               class="font-num"></span>条</span>
            <span>共<span ng-bind="$ctrl.opts.pager.totals" class="font-num"></span>条</span>
            <div class="reload" ng-click="$ctrl.onPagerChange($ctrl.opts.pager.pageNum, $ctrl.opts.pager.pageSize)">
                <p class="p-reload-icon"></p>
                <p>刷新</p>
            </div>
        </article>
        <cc-pagination
                page-num="$ctrl.opts.pager.pageNum"
                page-size="$ctrl.opts.pager.pageSize"
                page-size-list="$ctrl.opts.pager.pageSizeList"
                total-pages="$ctrl.opts.pager.totalPages"
                page-size-list-disabled="$ctrl.opts.pager.pageSizeListDisabled"
                on-change="$ctrl.onPagerChange(pageNum, pageSize)">
        </cc-pagination>
    </footer>

</section>
