<!--表格头部-->
<div class="ccms-table-wrapper">
	<table class="ccms-table">
		<thead>
		<tr bind-html="$ctrl.headerTemplate"></tr>
		</thead>
	</table>
</div>

<!--表格体-->
<div style="top:43px" class="ccms-table-wrapper">

	<table class="ccms-table">
		<tbody bind-html="$ctrl.bodyTemplate">
		</tbody>
	</table>

	<!--表格没数据的提示信息-->
	<div ng-if="!$ctrl.opts.loading && !$ctrl.opts.data.length" bind-html="$ctrl.emptyTipsTemplate"></div>

	<loading ng-show="$ctrl.opts.loading" class="grid-loading"></loading>

</div>

<!--分页-->
<div class="footer">
	<div class="page-con">
		<span ng-show="$ctrl.selectedItems.length">已选<span ng-bind="$ctrl.selectedItems.length" class="font-num"></span>条</span>
		<span>共<span ng-bind="$ctrl.opts.pager.totals" class="font-num"></span>条</span>
		<div class="reload" ng-click="$ctrl.onPagerChange($ctrl.opts.pager.pageNum, $ctrl.opts.pager.pageSize)">
			<div class="p-reload"></div>
			<span>刷新</span>
		</div>
	</div>
	<pagination
			ng-if="$ctrl.opts.showPagination"
			page-num="$ctrl.opts.pager.pageNum"
			page-size="$ctrl.opts.pager.pageSize"
			page-size-list
			page-layout="normal"
			totals="$ctrl.opts.pager.totals"
			total-pages="$ctrl.opts.pager.totalPages"
			on-change="$ctrl.onPagerChange(pageNum, pageSize)">
	</pagination>
</div>
