<div class="cc-grid">
	<table class="cc-grid-header cc-grid-table">
		<thead><tr cc-bind-html="$ctrl.headerTemplate"></tr></thead>
	</table>

	<div class="cc-grid-body">
		<div class="datalist" cc-nice-scroll>
			<table class="cc-grid-table">
				<tbody cc-bind-html="$ctrl.bodyTemplate"></tbody>
			</table>
		</div>
		<div class="no-data-message"
				ng-if="!$ctrl.opts.loading && $ctrl.opts.data && $ctrl.opts.data.length === 0"
				cc-bind-html="$ctrl.emptyTipsTemplate"></div>
		<div class="error-message"
				ng-if="$ctrl.opts.errorMessage.length"
				cc-bind-html="$ctrl.errorMessageTpl"></div>
		<div class="loading-mask" ng-show="$ctrl.opts.loading">
			<cc-loading></cc-loading>
		</div>
	</div>

	<div class="cc-grid-footer" ng-if="$ctrl.opts.showPagination" cc-bind-html="$ctrl.footerTemplate">
	</div>
</div>
