.shop-selector {
  position: relative;
  // cc-checkbox 样式
  @mixin ccCheckboxStyle {
	width: 12px;
	height: 12px;
	&:before {
	  width: 2px;
	  height: 6px;
	  left: 3px;
	  top: 1px;
	}
  }
  .form-area {
	position: absolute;
	top: 40px;
	margin-left: -48px;
	.form-wrapper {
	  display: flex;
	  justify-content: left;
	  flex-wrap: wrap;
	  fieldset {
		padding-left: 0;
		padding-right: 0;
		cc-dropdown-select, input, &.area-choose button {
		  width: 150px;
		}
		&.area-choose {
		  label {
			display: block;
			float: left;
			margin-right: 0;
			margin-top: 8px;
		  }
		  button {
			display: block;
			margin-right: 0;
			height: 30px;
		  }
		  &:after {
			display: block;
			content: '';
			clear: both;
		  }
		}
		&.operation {
		  padding-left: 30px;
		  button {
			width: 64px;
			font-size: 12px;
			min-width: 64px;
			height: 30px;
		  }
		}
	  }
	  label {
		width: 90px;
		padding-right: 0;
	  }
	}
  }
  .grid-area {
	position: absolute;
	top: 126px;
	margin-top: 12px;
	.operation {
	  padding-bottom: 8px;
	  padding-left: 13px;
	  cc-checkbox.check-all {
		.cc-checkbox .cc-checkbox-input {
		  margin-right: 6px;
		  @include ccCheckboxStyle;
		}
	  }
	  span {
		color: #0083ba;
		margin-right: 15px;
	  }
	}
	cc-grid {
	  height: 330px;
	  .cc-grid {
		th {
		  input {
			display: none;
		  }
		}
		td {
		  cc-checkbox {
			.cc-checkbox .cc-checkbox-input {
			  @include ccCheckboxStyle;
			}
		  }
		  cc-grid-cell {
			.grid-shop-name, .grid-shop-address {
			  display: block;
			  overflow: hidden;
			  text-overflow:ellipsis;
			  white-space: nowrap;
			}
		  }
		}
		.cc-grid-footer {
		  span {
			&.total-items-count, &.reload {
			  display: none;
			}
		  }
		  .footer-info {
			background:#eff7ff;
			border:1px solid #cde5ff;
			border-radius:2px;
			height:22px;
			line-height: 21px;
			color:#0083ba;
			padding: 0 10px;
			.plus-icon {
			  color: #222;
			}
		  }
		}
	  }
	}
  }
}
