<!DOCTYPE html>
<meta charset="UTF-8">
<title>开关 cc-toggle</title>
<link rel="import" href="../../common/layout.html">

<main ng-app="demoApp" ng-controller="DemoCtrl as ctrl">
	<h2>Demo1</h2>
	<p>value: {{demo1}}</p>
	<cc-switch ng-model="demo1"></cc-switch>

	<p>value: {{demo1}}</p>
	<cc-toggle ng-model="demo1" text-on="long-long-words" text-off="short-words"></cc-toggle>

	<p>value: {{demo1}}</p>
	<cc-toggle id="demo1" ng-model="demo1" text-on="long-words" text-off="short-words"></cc-toggle>

	<h2>Demo2</h2>
	<p>value: {{demo2}} | disabled: {{demo2Disabled}}</p>
	<cc-toggle ng-model="demo2" ng-disabled="demo2Disabled"></cc-toggle>
	<button ng-click="demo2Disabled=!demo2Disabled">change disabled</button>

	<h2>Demo3</h2>
	<cc-toggle ng-model="demo3" value-on="'开'" value-off="'关'"></cc-toggle>
</main>

<script src="/components.js"></script>
<script>
	angular
			.module('demoApp', ['ccms.components'])
			.controller('DemoCtrl', DemoCtrl);

	DemoCtrl.$inject = [];
	function DemoCtrl() {

	}

</script>

