<!DOCTYPE html>
<meta charset="UTF-8">
<title>Area Selector</title>
<link rel="import" href="../../common/layout.html">

<main ng-app="app" ng-controller="ctrl as Ctrl">
	<h3>数据来源于TAOBAO</h3>
	<button type="button" ng-click="responseWithIdAndName()">Open Area Selector ( Response Id And Name )</button>
	<button type="button" ng-click="responseWithName()">Open Area Selector ( Response ID )</button>
	<h3>数据来源于JD</h3>
	<button type="button" ng-click="responseWithIdAndNameJD()">Open Area Selector ( Response Id And Name )</button>
	<button type="button" ng-click="responseWithNameJD()">Open Area Selector ( Response ID )</button>
</main>

<script src="/components.js"></script>
<script src="index.js"></script>

