<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>
  
		Form 表单校验组件 &middot; CCMS 组件库
  
</title>

<!-- Documentation extras -->
<link href="/ccms-components/assets/css/docs.css" rel="stylesheet">

  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    <header class="navbar navbar-light navbar-static-top bd-navbar">
  <div class="container">
    <nav>
      <div class="clearfix">
        <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav" aria-controls="bd-main-nav" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
        <a class="navbar-brand hidden-sm-up" href="/ccms-components/">
					CCMS 组件库
        </a>
      </div>
      <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
						<a class="nav-item nav-link " href="/ccms-components/">CCMS 组件库</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link active" href="/ccms-components/components">Components</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>


    <div class="bd-pageheader">
      <div class="container">
        
  <h1>Components</h1>


      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 push-md-9 bd-sidebar">
          <form class="bd-search hidden-sm-down">
  <input type="text" class="form-control" id="search-input" placeholder="Search..." autocomplete="off">
  <div class="dropdown-menu bd-search-results" id="search-results"></div>
</form>

<nav class="bd-links" id="docsNavbarContent">
  
  
  
  

  

  <div class="bd-toc-item active">
    
        <a class="bd-toc-link" href="/ccms-components/components/checkbox">
      
        Components
      </a>

      <ul class="nav bd-sidenav">
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/checkbox">
              Checkbox
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/bind-html">
              Bind HTML
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/date-picker">
              Date Picker
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/dropdown">
              Dropdown
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/dynamic-attr">
              Dynamic-Attr
            </a>

            
          </li>
        
          
          
          

          

          <li class="active bd-sidenav-active">
            <a href="/ccms-components/components/form">
              Form
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/grid">
              Grid
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/iconfont">
              Iconfont
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/layout">
              Layout
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/loading">
              Loading
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/menus">
              Menus
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/modal">
              Modal
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/pagination">
              Pagination
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/radio-button">
              Radio Button
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/sample-component">
              Sample Component
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/tips">
              Tips
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/tooltip">
              Tooltip
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/tabset">
              Tabset
            </a>

            
          </li>
        
          
          
          

          

          <li class="">
            <a href="/ccms-components/components/switch">
              Switch
            </a>

            
          </li>
        
      </ul>
    </div>
  
</nav>

        </div>
        <div class="col-xs-12 col-md-9 pull-md-3 bd-content">
          <header>
            <h1 class="bd-title" id="content">Form 表单校验组件</h1>
            
            <div class="maintainer"><span>Maintainer: kui.liu</span></div>
            
          </header>
          <h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#section" id="markdown-toc-section">使用说明</a>    <ul>
      <li><a href="#section-1" id="markdown-toc-section-1">基本用法</a></li>
      <li><a href="#section-2" id="markdown-toc-section-2">参数说明</a>        <ul>
          <li><a href="#validators-" id="markdown-toc-validators-">validators 指令</a></li>
          <li><a href="#validator-require" id="markdown-toc-validator-require">validator 指令(require)</a>            <ul>
              <li><a href="#example" id="markdown-toc-example">example</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#form" id="markdown-toc-form">Form配套服务</a></li>
      <li><a href="#angularvalidator" id="markdown-toc-angularvalidator">内置的校验器(对应angular内置的validator)</a></li>
    </ul>
  </li>
  <li><a href="#examples" id="markdown-toc-examples">Examples</a></li>
</ul>

<h2 id="section">使用说明</h2>

<p>表单校验组件基于angular的表单校验实现，validator／validators指令可以互相配合使用。</p>

<h3 id="section-1">基本用法</h3>

<p>form标签</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;form</span>
    <span class="err">[</span><span class="na">cc-validators=</span><span class="s">"string"</span><span class="err">]</span>
    <span class="err">[</span><span class="na">name=</span><span class="s">"string"</span><span class="err">]</span>
    <span class="err">[</span><span class="na">tooltip-type=</span><span class="s">"string"</span><span class="err">]</span><span class="nt">&gt;</span>

    <span class="nt">&lt;fieldset&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"..."</span><span class="nt">&gt;</span>xxx<span class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;input</span>
            <span class="na">ng-model=</span><span class="s">"app.info"</span>
            <span class="err">[</span><span class="na">validator=</span><span class="s">"validator1,validator2"</span><span class="err">]</span>
            <span class="err">[</span><span class="na">validator1-msg=</span><span class="s">"string"</span><span class="err">]</span>
            <span class="err">[</span><span class="na">validator2-msg=</span><span class="s">"string"</span><span class="err">]</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/fieldset&gt;</span>
    ...
<span class="nt">&lt;/form&gt;</span></code></pre></figure>

<p>非form标签</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span>
    <span class="na">cc-validators=</span><span class="s">"string"</span>
    <span class="err">[</span><span class="na">ng-form=</span><span class="s">"string"</span><span class="err">]</span>
    <span class="err">[</span><span class="na">name=</span><span class="s">"string"</span><span class="err">]</span>
    <span class="err">[</span><span class="na">tooltip-type=</span><span class="s">"string"</span><span class="err">]</span><span class="nt">&gt;</span>

    <span class="nt">&lt;fieldset&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"..."</span><span class="nt">&gt;</span>xxx<span class="nt">&lt;/label&gt;</span>
        <span class="nt">&lt;input</span>
            <span class="na">ng-model=</span><span class="s">"app.info"</span>
            <span class="err">[</span><span class="na">validator=</span><span class="s">"validator1,validator2"</span><span class="err">]</span>
            <span class="err">[</span><span class="na">validator1-msg=</span><span class="s">"string"</span><span class="err">]</span>
            <span class="err">[</span><span class="na">validator2-msg=</span><span class="s">"string"</span><span class="err">]</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/fieldset&gt;</span>
    ...
<span class="nt">&lt;/div&gt;</span></code></pre></figure>

<h3 id="section-2">参数说明</h3>

<h4 id="validators-">validators 指令</h4>

<table>
  <thead>
    <tr>
      <th>参数</th>
      <th>类型</th>
      <th>说明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>validators</td>
      <td>string</td>
      <td>表单关联的校验器,为空则使用内置校验器(见下文)。当使用form标签作为表单时,此配置可选</td>
    </tr>
    <tr>
      <td>name(可选)</td>
      <td>string</td>
      <td>表单控制器名称,供手动校验表单时使用</td>
    </tr>
    <tr>
      <td>ng-form(可选)</td>
      <td>string</td>
      <td>ngForm指令</td>
    </tr>
    <tr>
      <td>tooltip-type(可选)</td>
      <td>string</td>
      <td>校验提示的展现形式。minor: 默认以tooltip的形式展示，应用于表单比较紧凑空间不足的场景;major: 空间足够则以输入框后追加文字提示信息的方式展示错误信息。 默认为minor</td>
    </tr>
    <tr>
      <td>tooltip-placement(可选)</td>
      <td>string</td>
      <td>校验提示的展现位置。auto: 位置自适应;top-left: 处于验证的高顶部(滚动条出现建议加上此属性)。 默认为auto</td>
    </tr>
  </tbody>
</table>

<div class="bd-callout bd-callout-info">
<p>当angular内置的校验器够用时，不需要在表单上使用<code class="highlighter-rouge">validators</code>指令声明，直接在输入控件上用<code class="highlighter-rouge">validator</code>即可，且validator不需要做任何初始化。</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;form&gt;</span>
    <span class="c">&lt;!-- 对该输入同时开启email/required/minlength 校验 --&gt;</span>
    <span class="nt">&lt;input</span> <span class="na">ng-model=</span><span class="s">"app.userName"</span> <span class="na">type=</span><span class="s">"email"</span> <span class="na">required</span> <span class="na">minlength=</span><span class="s">"3"</span> <span class="na">validator</span><span class="nt">&gt;</span>
<span class="nt">&lt;/form&gt;</span></code></pre></figure>

</div>

<div class="bd-callout bd-callout-info">
<p>组件库会自动禁用浏览器自带的validate交互，即默认给表单设置了novalidate=true。</p>
</div>

<h4 id="validator-require">validator 指令(require)</h4>

<p>声明当前输入控件需要启用校验逻辑，可以配合validators实现自定义表单校验功能。</p>

<table>
  <thead>
    <tr>
      <th>参数</th>
      <th>类型</th>
      <th>说明</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>validator</td>
      <td>string</td>
      <td>声明当前输入关联的校验器，与angular内置校验器互相配合使用(如required、minlength等)，可以为空。多个校验器之间以<code class="highlighter-rouge">,</code>隔开</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">${validator}-msg</code>(可选)</td>
      <td>string</td>
      <td>当前校验器的局部校验信息,格式为 校验器名 + ‘-msg’, 如 required-msg=”屌大的都会自觉填东西!”</td>
    </tr>
  </tbody>
</table>

<h5 id="example">example</h5>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;input</span> <span class="na">ng-model=</span><span class="s">"app.userName"</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">cc-validator=</span><span class="s">"handsome, word"</span> <span class="na">handsome-msg=</span><span class="s">"不够帅啊同学!"</span> <span class="na">word-msg=</span><span class="s">"填单词啊同学!"</span><span class="nt">&gt;</span></code></pre></figure>

<div class="bd-callout bd-callout-info">
<p>validator校验触发时机为 model 更新的时机,如果默认model更新时机(input)不能满足需求,可配合<code class="highlighter-rouge">ng-model-options</code>指令控制。如</p>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;input</span> <span class="na">ng-model=</span><span class="s">"app.userName"</span> <span class="na">ng-model-options=</span><span class="s">"{updateOn:'blur'}"</span> <span class="na">required</span> <span class="na">cc-validator</span> <span class="na">type=</span><span class="s">"text"</span><span class="nt">&gt;</span></code></pre></figure>

</div>

<h3 id="form">Form配套服务</h3>

<ul>
  <li>
    <p>$ccValidator(service)</p>

    <p>Methods</p>

    <ul>
      <li>
        <p>$ccValidator.validate(formCtrl)</p>

        <p>手动校验表单</p>

        <p>参数：formCtrl <code class="highlighter-rouge">Controller</code> 表单控制器，通过在表单上声明name绑定</p>

        <p><code class="highlighter-rouge">
  $ccValidator.validate(formCtrl).then(() =&gt; console.log('校验成功！')).catch(() =&gt; console.log('校验失败！'));
 </code></p>

        <p>return <code class="highlighter-rouge">Promise</code> 校验通过触发resolve，失败触发reject</p>
      </li>
      <li>
        <p>$ccValidator.setPristine(formCtrl)
  清除当前表单校验状态
  参数：formCtrl <code class="highlighter-rouge">Controller</code> 表单控制器，通过在表单上声明name绑定</p>

        <p><code class="highlighter-rouge">
  $ccValidator.setPristine(formCtrl);
 </code></p>
      </li>
    </ul>
  </li>
</ul>

<h3 id="angularvalidator">内置的校验器(对应angular内置的validator)</h3>
<ul>
  <li>required: ‘必填’</li>
  <li>email: ‘邮件格式不合法’,</li>
  <li>max: ‘输入值过大’,</li>
  <li>maxlength: ‘输入值太长’,</li>
  <li>min: ‘输入值过小’,</li>
  <li>minlength: ‘输入值太短’,</li>
  <li>number: ‘不合法的数字’,</li>
  <li>pattern: ‘不合法的格式’,</li>
  <li>url: ‘不合法的url’,</li>
  <li>date: ‘不合法的日期’,</li>
  <li>datetimelocal: ‘不合法的本地日期’,</li>
  <li>time: ‘不合法的时间’,</li>
  <li>week: ‘不合法的星期值’,</li>
  <li>month: ‘不合法的月份值’</li>
</ul>

<h2 id="examples">Examples</h2>

<figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;form</span> <span class="na">class=</span><span class="s">"form-wrapper"</span> <span class="na">tooltip-type=</span><span class="s">"major"</span> <span class="na">name=</span><span class="s">"app.formName"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;fieldset&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"info"</span><span class="nt">&gt;</span>姓名(必填)<span class="nt">&lt;/label&gt;&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">id=</span><span class="s">"info"</span> <span class="na">ng-model=</span><span class="s">"app.info"</span> <span class="na">cc-validator</span> <span class="na">required</span> <span class="na">placeholder=</span><span class="s">"必填"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/fieldset&gt;</span>
    <span class="nt">&lt;fieldset&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"info1"</span><span class="nt">&gt;</span>邮箱<span class="nt">&lt;/label&gt;&lt;input</span> <span class="na">type=</span><span class="s">"email"</span> <span class="na">id=</span><span class="s">"info1"</span> <span class="na">ng-model=</span><span class="s">"app.info1"</span> <span class="na">required</span> <span class="na">cc-validator</span> <span class="na">placeholder=</span><span class="s">"邮箱格式"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/fieldset&gt;</span>
    <span class="nt">&lt;fieldset&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"info2"</span><span class="nt">&gt;</span>禁用<span class="nt">&lt;/label&gt;&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">id=</span><span class="s">"info2"</span> <span class="na">disabled</span> <span class="na">value=</span><span class="s">"数云上海"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/fieldset&gt;</span>

    <span class="nt">&lt;fieldset&gt;</span>
        <span class="nt">&lt;label</span> <span class="na">for=</span><span class="s">"info3"</span><span class="nt">&gt;</span>长度需大于3<span class="nt">&lt;/label&gt;&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">id=</span><span class="s">"info3"</span> <span class="na">class=</span><span class="s">"error"</span> <span class="na">cc-validator</span> <span class="na">ng-model=</span><span class="s">"app.info3"</span> <span class="na">minlength=</span><span class="s">"3"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/fieldset&gt;</span>

    <span class="nt">&lt;fieldset&gt;</span>
        <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">ng-click=</span><span class="s">"app.reset()"</span><span class="nt">&gt;</span>重置<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;/fieldset&gt;</span>

<span class="nt">&lt;/form&gt;</span></code></pre></figure>

<iframe width="100%" height="800" src="//jsfiddle.net/Kuitos/qthn7y6k/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

        </div>
      </div>
    </div>

    <footer class="bd-footer text-muted">
  <div class="container">
		<p>CCMS Components
</p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" integrity="sha384-mXQoED/lFIuocc//nss8aJOIrz7X7XruhR6bO+sGceiSyMELoVdZkN7F0oYwcFH+" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/ccms-components/assets/js/vendor/jquery.min.js"><\/script>')</script>

<script src="/ccms-components/assets/js/vendor/tether.min.js"></script>


	<script src="/ccms-components/assets/js/vendor/anchor.min.js"></script>
	<script src="/ccms-components/assets/js/vendor/clipboard.min.js"></script>
	<script src="/ccms-components/assets/js/vendor/holder.min.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/ccms-components/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/ccms-components/assets/js/ie-emulation-modes-warning.js"></script>


<script src="/ccms-components/assets/js/vendor/jekyll-search.min.js"></script>

<script>
SimpleJekyllSearch.init({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('search-results'),
  searchResultTemplate: '<a class="dropdown-item" href="{url}">{title}</a>',
  noResultsText: '<div class="dropdown-item no-results">Sorry, there are no results for that search.</div>',
  json: '/ccms-components/search.json'
})
</script>


<script>
Holder.addTheme('gray', {
  bg: '#777',
  fg: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>

  </body>
</html>
