<div class="section-modal">
	<p class="tips">
		将数据直接粘贴到文本框中，每行一条数据，最多可以输入198条。
	</p>
	<form class="form-wrapper" name="$ctrl.addSectionForm" cc-validators="$ctrl.validators">
		<div class="addition">
			<span>数据类型：</span>
			<cc-radio ng-model="$ctrl.radio.value" value="id">商品ID</cc-radio>
			<cc-radio ng-model="$ctrl.radio.value" value="number">商品商家编码</cc-radio>
			<cc-radio ng-model="$ctrl.radio.value" value="skuNumber">SKU商家编码</cc-radio>
		</div>
		<textarea cols="30" rows="10" placeholder='&#13;&#10;请输入商品ID，格式如下：&#13;&#10;商品ID1&#13;&#10;商品ID2'
				  ng-if="$ctrl.radio.value === 'id'"
				  cc-validator="maxInputNum"
				  required required-msg="请输入商品 ID"
				  ng-model="$ctrl.addSectionForm.textAreaModel">
		</textarea>
		<textarea cols="30" rows="10" placeholder='&#13;&#10;请输入商品商家编码，格式如下：&#13;&#10;商品商家编码1&#13;&#10;商品商家编码2'
				  ng-if="$ctrl.radio.value === 'number'"
				  cc-validator="maxInputNumber"
				  required required-msg="请输入商品商家编码"
				  ng-model="$ctrl.addSectionForm.textAreaModel">
		</textarea>
		<textarea cols="30" rows="10" placeholder='&#13;&#10;请输入 sku 商家编码，格式如下：&#13;&#10;sku 商家编码1&#13;&#10;sku商家编码2'
				  ng-if="$ctrl.radio.value === 'skuNumber'"
				  cc-validator="maxInputNumber"
				  required required-msg="请输入 sku 商家编码"
				  ng-model="$ctrl.addSectionForm.textAreaModel">
		</textarea>
	</form>
</div>
