<div ng-cloak>
	<div class="tabset-header">
		<div class="tabset-tab" ng-class="{'remove': $tabsetCtrl.remove, 'justified': $tabsetCtrl.justified, 'small': $tabsetCtrl.small}" ng-transclude>
		</div>
		<div class="tabset-btn-ctrl" tab-more="$tabsetCtrl.tabs">
			<a class="btn-ctrl btn-back" ng-click="dirControl(1)"></a>
			<a class="btn-ctrl btn-forward" ng-click="dirControl(-1)"></a>
		</div>
	</div>
	<div class="tabset-content">
		<div class="tabset-pane" tab-content-transclude></div>
	</div>
</div>
