.goods-selector {
  background: #f8f8f8;
  color: #666666;
  font-family: "Microsoft Yahei", Tahoma, sans-serif;
  position: relative;
  .main-area {
	.gs-tabs {
	  position: absolute;
	  top: -10px;
	  left: 0;
	  right: 0;
	}
	.form-area {
	  padding-top: 28px;
	  .form-wrapper {
		margin-left: -18px;
		margin-right: -20px;
		padding-top: 5px;
		display: flex;
		flex-wrap: wrap;
		fieldset {
		  margin: 0px;
		  padding-left: 0px;
		  padding-right: 0px;
		  input:not(.date-picker-input), select:not(.ng-pristine), cc-dropdown-select, cc-dropdown-multiselect {
			width: 150px;
		  }
		  &.stack-date {
			position: relative;
			label {
			  position: absolute;
			  left: 0;
			  top: 14px;
			}
			.date-range {
			  display: inline-block;
			  padding-left: 95px;
			  margin-left: 6px;
			  .date-picker-holder:first-child {
				width: 194px;
			  }
			  .date-picker-holder:last-child {
				width: 195px;
			  }
			}
		  }
		  .goods-label {
			width: 98px;
			padding-right: 0;
		  }
		  &.goods-price input {
			width: 194.5px;
		  }
		  &.operate {
			margin-left: 25px;
			margin-top: 3px;
			.search {
			  width: 64px;
			  font-size: 12px;
			  min-width: 66px;
			}
			.reset {
			  display: inline-block;
			  padding-left: 20px;
			  padding-right: 24px;
			  &:hover {
				cursor: pointer;
			  }
			}
			.add-addition {
			  display: inline-block;
			  color:#0083ba;
			  &:hover {
				cursor: pointer;
			  }
			}
		  }
		  .dropdown-multiselect .dropdown-panel .dropdown-list li {
			> label {
			  width: 129px;
			  padding-right: 0;
			  text-align: left;
			  > input[type="checkbox"] {
				width: 12px;
				height: 12px;
				margin-right: 6px;
			  }
			}
			text-align: left;
			padding-left: 10px;
		  }
		}
	  }
	}
	.refresh-data {
	  position: absolute;
	  top: -0;
	  right: -2px;
	  color: #0083ba;
	}
  }
  gs-tabs .gs-tabs {
	.gs-tabs-nav {
	  margin-left: -5px;
	  margin-right: -5px;
	}
	.gs-tab-content {
	  gs-panel {
		position: absolute;
		&.all-goods-panel {
		  .cc-grid-header thead tr th {
			&:first-child {
			  width: 252px;
			  padding-left: 76px;
			}
			&:last-child {
			  display: none;
			}
		  }
		  .row-cell, .sku-row-cell {
			width: 74px;
		  }
		  .remove-btn {
			display: none;
		  }
		}
		&.checked-goods-panel{
		  .cc-grid-header thead tr th {
			&:first-child {
			  width: 208px;
			  padding-left: 76px;
			}
			&:last-child {
			  width: 100px;
			}
		  }
		  .row-cell, .sku-row-cell {
			width: 47px;
		  }
		  cc-checkbox, .hide-sku, .hide-entity, .hide-no-matched {
			display: none;
		  }
		}
		.all-goods-operation {
		  padding-left: 9px;
		  margin-bottom: 6px;
		  color: #333333;
		  .cc-checkbox {
			margin-right: 15px;
			.cc-checkbox-input {
			  width: 12px;
			  height: 12px;
			  margin-right: 6px;
			}
		  }
		  span.slide-toggle-btn {
			color: #0083ba;
			line-height: 2em;
			&:hover {
			  cursor: pointer;
			}
		  }
		  .cc-checkbox.checked .cc-checkbox-input:before {
			width: 2px;
			height: 6px;
			left: 3px;
			top: 0.6px;
		  }
		}
		.checked-goods-operation {
		  margin-bottom: 6px;
		  span {
			color: #0083ba;
			line-height: 2em;
			margin-right: 15px;
			&:hover {
			  cursor: pointer;
			}
			&:first-child {
			  margin-left: 8px;
			}
		  }
		}
		cc-grid {
		  height: 220px;
		  width: 987px;
		  margin-left: -2px;
		  .cc-grid {
			border: none;
			.cc-grid-body {
			  height: 220px;
			  overflow-y: scroll;
			  .default {
				padding-top: 30px;
			  }
			}
			.loading-mask {
			  //margin-top: -25px;
			  position: absolute!important;
			  z-index: 200000;
			}
			.no-data-message {
			  padding-top: 70px;
			}
			.cc-grid-header thead tr th {
			  &.all-goods-head {
				width: 252px;
				padding-left: 76px;
			  }
			}
			.cc-grid-table {
			  tbody {
				tr {
				  &:last-child {
					border-bottom: none;
					&.children {
					  border-bottom: none;
					}
				  }
				  &.hide {
					display: none;
				  }
				  td.remove-btn {
					width: 100px;
					color: #0083ba;
					&:hover {
					  cursor: pointer;
					}
				  }
				}
				.goods-name {
				  display: flex;
				  width: 100%;
				  color: #0083ba;
				  margin-top: 10px;
				  margin-bottom: 9px;
				  img {
					width: 38px;
					height: 38px;
					vertical-align: middle;
				  }
				  span {
					display: inline-block;
					width: 112px;
					vertical-align: top;
					line-height: 19px;
					margin-left: 5px;
					&.sku {
					  color: #3d3d3d;
					}
				  }
				}
				.sku-row-cell {
				  padding-left: 49px;
				}
				cc-checkbox {
				  position: relative;
				  .cc-checkbox {
					.cc-checkbox-input {
					  width: 12px;
					  height: 12px;
					  margin-top: 3px;
					  margin-right: 0;
					}
					&.checked .cc-checkbox-input:before {
					  width: 2px;
					  height: 6px;
					  left: 4px;
					  top: 4px;
					}
					&.indeterminate .cc-checkbox-input:before {
					  left: 2px;
					  top: 5px;
					}
				  }
				}
			  }
			}
			.tree-icon {
			  float: right;
			  color: #00AAF1;
			  &:hover {
				cursor: pointer;
			  }
			}
			.cc-grid-body * {
			  position: static;
			  .datalist {
				height: 300px;
			  }
			}
			> .cc-grid-footer {
			  padding: 15px 11px 4px 11px;
			  .total-items-count, .reload, .selected-items-count {
				display: none;
			  }
			}
			.no-data-message .init-msg {
			  margin-left: 216px;
			}
		  }
		  .footer-info {
			background:#eff7ff;
			border:1px solid #cde5ff;
			border-radius:2px;
			height:22px;
			line-height: 21px;
			color:#0083ba;
			padding: 0 10px;
			.plus-icon {
			  color: #222;
			}
		  }
		}
	  }
	}
  }
  gs-tabs.row-1 .gs-tab-content gs-panel {
	top: 100px;
	cc-grid {
	  height: 390px;
	  .cc-grid .cc-grid-body {
		.default {
		  padding-top: 120px;
		}
		.loading-mask {
		  //padding-top: 80px;
		  z-index: 200000;
		  position: absolute!important;
		}
		.no-data-message{
		  padding-top: 138px;
		}
	  }
	}
  }
  gs-tabs.row-5 .gs-tab-content gs-panel {
	top: 270px;
  }
  gs-tabs.row-4 .gs-tab-content gs-panel {
	top: 233px;
	cc-grid {
	  height: 257px;
	  //width: 1017px;
	  .cc-grid .cc-grid-body {
		.default{
		  padding-top: 47px;
		}
		.no-data-message {
		  padding-top: 68px;
		}
	  }
	}
  }
  p.error-minor-tooltip {
	z-index: 1000;
  }
}
.tooltip-opened {
  z-index: 10000;
}
