<div class="goods-selector">
	<div class="main-area">
		<section class="form-area">
			<form class="form-wrapper" cc-validators="$ctrl.validators" name="$ctrl.goodsSelectorForm" ng-init="$ctrl.isSimpleSearch=true">
				<fieldset ng-if="$ctrl.isShowShopList">
					<label class="goods-label">店铺选择：</label>
					<cc-dropdown-select
							model="$ctrl.formModel.shopName"
							datalist="$ctrl.selectedGoods.shopList"
							mapping="$ctrl.fieldsMap">
					</cc-dropdown-select>
				</fieldset>
				<fieldset>
					<label class="goods-label">商品ID：</label>
					<input type="text" ng-model="$ctrl.formModel.shopId" cc-validator='number' placeholder="商品ID">
				</fieldset>
				<fieldset>
					<label class="goods-label">商品标题：</label>
					<input type="text" ng-model="$ctrl.formModel.goodsTitle" placeholder="商品标题">
				</fieldset>
				<fieldset ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList) && $ctrl.isTaobao">
					<label class="goods-label">自定义类目：</label>
					<cc-dropdown-multiselect
							placeholder=""
							model="$ctrl.formModel.goodsCustom"
							datalist="$ctrl.selectedGoods.goodsCustomList"
							searchable="true"
							mapping="$ctrl.fieldsMap">
					</cc-dropdown-multiselect>
				</fieldset>
				<fieldset ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList) && $ctrl.isTaobao">
					<label class="goods-label">商品标签：</label>
					<cc-dropdown-multiselect
							placeholder=""
							model="$ctrl.formModel.goodsLabel"
							datalist="$ctrl.selectedGoods.goodsLabelList"
							searchable="true"
							confirm-button="true"
							mapping="$ctrl.fieldsMap">
					</cc-dropdown-multiselect>
				</fieldset>
				<fieldset>
					<label class="goods-label">商品标准类目：</label>
					<cc-dropdown-select
							placeholder="请选择"
							model="$ctrl.formModel.standardClassify"
							datalist="$ctrl.selectedGoods.standardClassifyList"
							searchable="true"
							mapping="$ctrl.fieldsMap">
					</cc-dropdown-select>
				</fieldset>
				<fieldset ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList)">
					<label class="goods-label">商品属性：</label>
					<cc-dropdown-select
							placeholder="请选择"
							model="$ctrl.formModel.goodsAttr"
							datalist="$ctrl.selectedGoods.goodsAttrList"
							searchable="true"
							mapping="$ctrl.fieldsMap">
					</cc-dropdown-select>
				</fieldset>
				<fieldset ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList)">
					<label class="goods-label">属性值：</label>
					<cc-dropdown-multiselect
							placeholder="请选择"
							model="$ctrl.formModel.goodsAttrValue"
							datalist="$ctrl.selectedGoods.goodsAttrValueList"
							searchable="true"
							mapping="$ctrl.fieldsMap">
					</cc-dropdown-multiselect>
				</fieldset>
				<fieldset ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList)">
					<label class="goods-label">商品状态：</label>
					<cc-dropdown-select
							model="$ctrl.formModel.goodsStatus"
							datalist="$ctrl.selectedGoods.goodsStatusList"
							mapping="$ctrl.fieldsMap">
					</cc-dropdown-select>
				</fieldset>
				<fieldset ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList) && !$ctrl.isTaobao">
					<label class="goods-label">商品编号：</label>
					<input type="text" ng-model="$ctrl.formModel.goodsCode" cc-validator='number' placeholder="">
				</fieldset>
				<fieldset ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList)">
					<label class="goods-label">商品商家编码：</label>
					<input type="text" ng-model="$ctrl.formModel.shopCode" placeholder="">
				</fieldset>
				<fieldset ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList)">
					<label class="goods-label">SKU商家编码：</label>
					<input type="text" ng-model="$ctrl.formModel.SKUShopCode" placeholder="">
				</fieldset>
				<fieldset ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList)">
					<label class="goods-label">SKU规格：</label>
					<input type="text" ng-model="$ctrl.formModel.SKUStandard" placeholder="">
				</fieldset>
				<fieldset class="stack-date" ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList)">
					<label class="goods-label">上架时间：</label>
					<cc-date-range opts="$ctrl.dateRange"></cc-date-range>
				</fieldset>
				<fieldset class="goods-price" ng-if="(!$ctrl.isSimpleSearch || $ctrl.isShowShopList)">
					<label class="goods-label">价格：</label>
					<input class="goods-input" type="text" ng-model="$ctrl.formModel.goodsLowPrice" cc-validator="price, lowPrice">
					<span>-</span>
					<input class="goods-input" type="text" ng-model="$ctrl.formModel.goodsHighPrice" cc-validator="price, highPrice">
				</fieldset>
				<fieldset class="operate">
					<button type="button" class="btn-ok search" ng-click="$ctrl.search()">搜索</button>
					<span class="reset" ng-click="$ctrl.reset($ctrl.goodsSelectorForm)">重置</span>
					<span class="add-addition" ng-if="$ctrl.isSimpleSearch && !$ctrl.isShowShopList" ng-click="$ctrl.isSimpleSearch = false">高级搜索</span>
					<span class="add-addition" ng-if="!$ctrl.isSimpleSearch && !$ctrl.isShowShopList" ng-click="$ctrl.isSimpleSearch = true">简单搜索</span>
					<!--<span class="add-addition" ng-if="$ctrl.isShowShopList">添加为搜索条件</span>-->
				</fieldset>
			</form>
		</section>
		<!--row-1: 不存在商铺列表选项并且简单搜索，表格区域距离上侧的距离
			row-5: 有商铺列表选项或者无商铺列表并且是淘宝店铺、高级搜索，表格距离上侧的距离
			row-4: 不存在商铺列表选项并且是京东店铺、高级搜索，表格距离上侧的距离-->
		<gs-tabs ng-class="{'row-1': !$ctrl.isShowShopList && $ctrl.isSimpleSearch,
		 					'row-5': $ctrl.isShowShopList || !$ctrl.isShowShopList && !$ctrl.isSimpleSearch && $ctrl.isTaobao,
		 					'row-4': !$ctrl.isShowShopList && !$ctrl.isTaobao && !$ctrl.isSimpleSearch}">
			<gs-panel text="全部商品">
				<section class="grid-area">
					这是全部商品页面
				</section>
			</gs-panel>
			<gs-panel text="已选商品">
				<section class="grid-area">
					这是已选商品页面
				</section>
			</gs-panel>
		</gs-tabs>
		<p class="refresh-data">更新数据</p>
	</div>
</div>
