<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>customer-profile-board</title>
</head>
<body ng-app="app" ng-controller="ctrl" style="padding: 20px">
<h1>Customer profile board Demo</h1>

<div>
	<h2>Demo</h2>
	<fieldset>
		<legend>customerInformation</legend>
		<label>nickName(用户昵称): </label><input type="text" ng-model="customerInformation.nickName">
		<label>shopId(店铺ID): </label><input type="text" ng-model="customerInformation.shopId">
		<label>platName(平台名): </label><input type="text" ng-model="customerInformation.platName">
	</fieldset>
	<br>
	<button ng-click="pop()">popProfileBoardModal</button>
</div>

<script src="/components.js"></script>

<script src="index.js"></script>

</body>
</html>
