<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>菜单栏</title>
</head>
<body ng-app="componentsApp" ng-controller="ctrl as app">

<div class="ccmsc-main-container" ng-class="{'contract-left':!app.menusOptions.unfold}">

    <div class="left-container constact-container">
        <menu-bar options="app.menusOptions"></menu-bar>
    </div>

    <div class="center-container ">
        <div ng-if="!app.show" ng-click="app.show=!app.show">
            <nav-title name="app.titleName"></nav-title>
        </div>
        <div>
            center
        </div>
    </div>
    <div class="right-container">
        right
    </div>
</div>

<script src="/node_modules/angular-resource/angular-resource.min.js"></script>
<script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/components.js"></script>
<script src="./app.js"></script>
</body>
</html>
