.area-selector {
  background: #f8f8f8;
  color: #666666;
  font-family: "Microsoft Yahei", Tahoma, sans-serif;

  .cc-checkbox-input {
	width: 14px;
	height: 14px;
	margin-right: 2px;
  }

  .icon-rightarrow {
	color: #c9c9c9;
  }

  .cc-checkbox.checked .cc-checkbox-input:before {
	left: 26%;
	top: 0;
  }
  .cc-checkbox.indeterminate .cc-checkbox-input:before {
	left: 18%;
	top: 18%;
  }

  cc-checkbox {
	vertical-align: text-bottom;
	text-align: center;
  }

  .selected {
	background:#f0f3f5;
  }

  .separator {
	color: #cdcdcd;
  }

  .icon-rightarrow {
	float: right;
	font-size: 12px;
  }

  .area-search {
	margin-bottom: 15px;
  }

  .selected-area {
	display: flex;
	height: 60px;
	margin-bottom: 4px;
	.selected-body {
	  display: flex;
	  flex-wrap: wrap;
	  width: 600px;
	  overflow-y: auto;
	  overflow-x: hidden;
	}
	.selected-region {
	  height: 22px;
	  padding: 0 8px;
	  margin-right: 10px;
	  margin-bottom: 8px;
	  color: #0183ba;
	  border: 1px solid #e7f3ff;
	  border-radius: 1px;
	  background: #eff7ff;
	}
	.icon-close {
	  margin-left: 5px;
	  font-size: 12px;
	  color: #cdcdcd;
	  line-height: 16px;
	}
	.icon-close:hover {
	  cursor: pointer;
	  color: #666;
	  font-weight: 800;
	}
  }

  .common-areas {
	.common-area-content {
	  display: flex;
	  margin-top: 10px;
	  .common-area {
		font-size: 12px;
		margin-right: 42px;
	  }
	}
  }

  .select-areas {
	margin-top: 15px;
	display: flex;
	.select-area {
	  width: 200px;
	  height: 218px;
	  margin-right: 12px;
	  background: #ffffff;
	  border: 1px solid #ededed;
	}
	.area-title {
	  margin-top: 10px;
	  margin-bottom: 6px;
	  color: #999999;
	  text-align: center;
	}
	.area-body {
	  overflow-y: auto;
	  overflow-x: hidden;
	  height: 180px;
	  .area {
		width: 198px;
		height: 30px;
		padding-left: 18px;
		line-height: 30px;
	  }
	  .area:hover {
		background: #f0f3f5;
		cursor: pointer;
	  }
	  .province,
	  .city,
	  .district {
		display: inline-block;
		width: 142px;
	  }
	}
  }
}
