@import "../styles/variables";

.title-font-style {
  font-size: $font-size-title;
  color: $font-color-title;
}

.title-with-prefix-icon {
  @extend .title-font-style;
  display: inline-block;
  line-height: 18px;
}
