<!DOCTYPE html>
<meta charset="UTF-8">
<title>Goods Selector</title>
<link rel="import" href="../../common/layout.html">

<main ng-app="app" ng-controller="ctrl as Ctrl">
	<h3>sku维度商品选择器</h3>
	<button type="button" ng-click="openTopWithShopList()">Open Goods Selector(Taobao + 店铺选择)</button>
	<button type="button" ng-click="openJosWithShopList()">Open Goods Selector(JD + 店铺选择)</button>
	<button type="button" ng-click="openTopWithoutShopList()">Open Goods Selector(Taobao)</button>
	<button type="button" ng-click="openJosWithoutShopList()">Open Goods Selector(JD)</button>
	<button type="button" ng-click="openQkSingleSelectShopList()">Open Goods Selector(QK + 店铺选择单选)</button>
	<button type="button" ng-click="openQkMultipleSelectShopList()">Open Goods Selector(QK + 店铺选择多选)</button>
	<h3>商品维度商品选择器</h3>
	<button type="button" ng-click="openTopWithoutSkuWithShopList()">Open Goods Selector(Taobao + 店铺选择)</button>
	<button type="button" ng-click="openJosWithoutSkuWithShopList()">Open Goods Selector(JD + 店铺选择)</button>
	<button type="button" ng-click="openTopWithoutSkuWithoutShopList()">Open Goods Selector(Taobao)</button>
	<button type="button" ng-click="openJosWithoutSkuWithoutShopList()">Open Goods Selector(JD)</button>
	<button type="button" ng-click="openQkSingleSelectShopListWithoutSku()">Open Goods Selector(QK + 店铺选择单选)</button>
	<button type="button" ng-click="openQkMultipleSelectShopListWithoutSku()">Open Goods Selector(QK + 店铺选择多选)</button>
	<h3>单选列表(商品维度选择器)</h3>
	<button type="button" ng-click="openTopSingleSelectWithShopList()">Open Goods Selector(Taobao + 店铺选择)</button>
	<button type="button" ng-click="openJosSingleSelectWithShopList()">Open Goods Selector(JD + 店铺选择)</button>
	<button type="button" ng-click="openTopSingleSelectWithoutShopList()">Open Goods Selector(Taobao)</button>
	<button type="button" ng-click="openJosSingleSelectWithoutShopList()">Open Goods Selector(JD)</button>

	<button ng-click="isSupportedAddCondition = !isSupportedAddCondition" class="btn-ok" style="display: block; margin-top: 20px;">
		<span ng-if="isSupportedAddCondition">关闭添加为搜索条件功能</span>
		<span ng-if="!isSupportedAddCondition">开启添加为搜索条件功能</span>
	</button>

	<button ng-click="isSupportedBatchAddition = !isSupportedBatchAddition" class="btn-ok" style="display: block; margin-top: 20px;">
		<span ng-if="isSupportedBatchAddition">关闭批量添加功能</span>
		<span ng-if="!isSupportedBatchAddition">开启批量添加功能</span>
	</button>

	<button ng-click="isTotalChannel = !isTotalChannel" class="btn-ok" style="display: block; margin-top: 20px;">
		<span ng-if="isTotalChannel">非全渠道模式</span>
		<span ng-if="!isTotalChannel">全渠道模式</span>
	</button>
</main>

<script src="/components.js"></script>
<script src="topService.js"></script>
<script src="josService.js"></script>
<script src="qkService.js"></script>
<script src="index.js"></script>

