<!DOCTYPE html>
<meta charset="UTF-8">
<title>Area Selector</title>
<link rel="import" href="../../common/layout.html">

<main ng-app="app" ng-controller="ctrl as Ctrl">
	<h3>sku维度商品选择器</h3>
	<button type="button" ng-click="openTaobaoGoodsSelectorWithShopList()">Open Good Selector(Taobao + 店铺选择)</button>
	<button type="button" ng-click="openJDGoodsSelectorWithShopList()">Open Good Selector(JD + 店铺选择)</button>
	<!--<button type="button" ng-click="openQKGoodsSelectorWithShopList()">Open Good Selector(QK + 店铺选择)</button>-->
	<button type="button" ng-click="openTaobaoGoodsSelector()">Open Good Selector (Taobao)</button>
	<button type="button" ng-click="openJDGoodsSelector()">Open Good Selector (JD)</button>
	<!--<button type="button" ng-click="openQKGoodsSelector()">Open Good Selector (QK)</button>-->
	<h3>商品维度商品选择器</h3>
	<button type="button" ng-click="openTaobaoGoodsSelectorWithShopListWithoutSku()">Open Good Selector(Taobao + 店铺选择 + 商品维度)</button>
	<button type="button" ng-click="openJDGoodsSelectorWithShopListWithoutSku()">Open Good Selector(JD + 店铺选择 + 商品维度)</button>
	<!--<button type="button" ng-click="openQKGoodsSelectorWithShopListWithoutSku()">Open Good Selector(QK + 店铺选择 + 商品维度)</button>-->
	<button type="button" ng-click="openTaobaoGoodsSelectorWithoutSku()">Open Good Selector (Taobao + 商品维度)</button>
	<button type="button" ng-click="openJDGoodsSelectorWithoutSku()">Open Good Selector (JD + 商品维度)</button>
	<!--<button type="button" ng-click="openQKGoodsSelectorWithoutSku()">Open Good Selector (QK + 商品维度)</button>-->
</main>

<script src="/components.js"></script>
<script src="index.js"></script>

