<!DOCTYPE html>
<meta charset="UTF-8">
<title>Area Selector</title>
<link rel="import" href="../../common/layout.html">

<main ng-app="app" ng-controller="ctrl as Ctrl">
	<h3>sku维度商品选择器</h3>
	<button type="button" ng-click="openTaobaoGoodsSelectorWithShopList()">Open Goods Selector(Taobao + 店铺选择)</button>
	<button type="button" ng-click="openJDGoodsSelectorWithShopList()">Open Goods Selector(JD + 店铺选择)</button>
	<button type="button" ng-click="openTaobaoGoodsSelector()">Open Goods Selector (Taobao)</button>
	<button type="button" ng-click="openJDGoodsSelector()">Open Goods Selector (JD)</button>
	<button type="button" ng-click="openQKGoodsSelector()">Open Goods Selector (QK)</button>
	<h3>商品维度商品选择器</h3>
	<button type="button" ng-click="openTaobaoGoodsSelectorWithShopListWithoutSku()">Open Goods Selector(Taobao + 店铺选择 + 商品维度)</button>
	<button type="button" ng-click="openJDGoodsSelectorWithShopListWithoutSku()">Open Goods Selector(JD + 店铺选择 + 商品维度)</button>
	<button type="button" ng-click="openTaobaoGoodsSelectorWithoutSku()">Open Goods Selector (Taobao + 商品维度)</button>
	<button type="button" ng-click="openJDGoodsSelectorWithoutSku()">Open Goods Selector (JD + 商品维度)</button>
	<h3>单选(商品维度选择器)</h3>
	<button type="button" ng-click="openSingleTaobaoSelectorWithShopListWithoutSku()">Open Goods Selector (单选 + Taobao + 店铺选择 + 商品维度)</button>
	<button type="button" ng-click="openSingleJDGoodsSelectorWithShopListWithoutSku()">Open Goods Selector (单选 + JD + 店铺选择 + 商品维度)</button>
	<button type="button" ng-click="openSingleTaobaoGoodsSelectorWithoutSku()">Open Goods Selector (单选 + Taobao + 商品维度)</button>
	<button type="button" ng-click="openSingleJDGoodsSelectorWithoutSku()">Open Goods Selector (单选 + JD + 商品维度)</button>
</main>

<script src="/components.js"></script>
<script src="index.js"></script>

