<form class="form-wrapper" name="$ctrl.selectedShopForm">
	<fieldset>
		<label>渠道：</label>
		<cc-dropdown-select></cc-dropdown-select>
	</fieldset>
	<fieldset>
		<label>店铺类型：</label>
		<cc-dropdown-select></cc-dropdown-select>
	</fieldset>
	<fieldset>
		<label>店铺名称：</label>
		<input type="text">
	</fieldset>
	<fieldset class="area-choose">
		<label>地区：</label>
		<button type="button"></button>
	</fieldset>
	<fieldset class="operation">
		<button type="button" class="btn-ok">查询</button>
		<button type="button">重置</button>
	</fieldset>
</form>
