<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>switch-button</title>
	<link rel="import" href="../demos-menu.html">
	<style>
		section {
			margin-left: 250px;
		}
		p span {
			margin-left: 30px;
			color: #666666;
		}
		.content {
			flex: 1;
			margin: 10px;
			padding: 20px;
			background: #eee;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
			border-radius: 5px;
		}
		h2 {
			margin-top: 20px;
		}
	</style>
</head>
<body ng-app="app" ng-controller="ctrl">
<aside></aside>
<section>
	<div style="display: flex">
		<div class="content">
			<div ng-init="demo1 = true">
				<h1>开关 cc-switch</h1>
				<hr>
				<h2>2016年12月9日 更新 by李文杰</h2>
				<p>1 支持根据文字内容来自动调整宽度 <span>open-text="English" close-text="中文"</span></p>
				<cc-switch ng-model="demo1" open-text="English" close-text="中文"></cc-switch>
				<p style="color: #47cf5f">2 默认颜色从蓝色改为了绿色 #47cf5f</p>
				<p>3 默认文字从原来的'开'/'关 改为了:'已开启'/'已关闭'</p>
				<cc-switch ng-model="demo1"></cc-switch>
				<hr>
				<p>Support Attribute</p>
				<ul style="list-style: disc">
					<li style="list-style: inside">*ng-model</li>
					<li style="list-style: inside">ng-disabled</li>
					<li style="list-style: inside">ng-true-value</li>
					<li style="list-style: inside">ng-false-value</li>
					<li style="list-style: inside">open-text</li>
					<li style="list-style: inside">close-text</li>
					<li style="list-style: inside">font-size</li>
				</ul>
				<h2>Demo1</h2>
				<p>ng-model is required. If you just wanna have a fun, bind a useless model.</p>
				<p>value: {{demo1}}</p>
				<cc-switch ng-model="demo1"></cc-switch>

				<p>If you want change component size, rewrite <b>font-size</b> of the 'switch-button-block' class.</p>
				<cc-switch ng-model="demo1"></cc-switch>

				<p>If you want change component width, rewrite <b>width</b> of the 'switch-button-block' class. Using 'em' unit
					is recommended.</p>
				<cc-switch id="demo3" ng-model="demo1" open-text="long-words" close-text="short-words"></cc-switch>

				<h2>Demo2</h2>
				<p>value: {{demo2}} | disabled: {{demo2Disabled}}</p>
				<cc-switch ng-model="demo2" ng-disabled="demo2Disabled"></cc-switch>
				<button ng-click="demo2Disabled=!demo2Disabled">change disabled</button>

				<h2>Demo3</h2>
				<p>Work with ng-true-value & ng-false-value</p>
				<p>value: {{demo3}} </p>
				<cc-switch ng-model="demo3" ng-true-value="'开'" ng-false-value="'关'"></cc-switch>
			</div>
		</div>
	</div>
</section>

<script src="/components.js"></script>
<script src="index.js"></script>
<script>
	var link = document.querySelector('link[rel="import"]');
	var content = link.import;
	var aside = content.querySelector('.side-bar');
	document.querySelector('aside').appendChild(aside.cloneNode(true));
</script>
</body>
</html>
