<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>layout布局</title>
	<style type="text/css">
		.left-container {
			background: silver;
		}

		.center-container {
			background: cadetblue;
		}

		.right-container {
			background: antiquewhite;
		}


	</style>
</head>
<body>

<div class="ccmsc-main-container type-two">

	<div class="left-container">
		left-container
	</div>
	<div class="center-container ">
		center-container
	</div>
	<div class="right-container">
		right-container
	</div>
</div>
<script src="/components.js"></script>
</body>
</html>
