<section>
	<div class="cc-tree-node"
		 ng-style="{'padding-left': $ctrl.paddingLeft}"
		 ng-dblclick="$ctrl.toggleExpandHandler($event)"
		 ng-click="$ctrl.clickHandler($event);"
		 ng-class="{ selected: $ctrl.node.isSelected }"
		 cc-tree-right-click="$ctrl.rightClickHandler($event)"
		 ng-hide="$ctrl.node.isEditing"
	>
		<icon ng-if="$ctrl.node.children.length"
				ng-click="$ctrl.toggleExpandHandler($event)"
				class="iconfont icon-nextpage"
				ng-class="{ open: !$ctrl.node.isClosed }"
		>
		</icon>
		<icon class="iconfont icon-folder"></icon>
		<span class="name" ng-bind="$ctrl.name"></span>
	</div>
	<div ng-show="$ctrl.node.isEditing"
		 class="cc-tree-node editing"
		 ng-style="{'padding-left': $ctrl.paddingLeft}"
	>
		<icon class="iconfont icon-folder"></icon>
		<input type="text" ng-model="$ctrl.name" ng-keypress="$ctrl.inputChangeHandler($event)">
		<icon class="iconfont icon-close" ng-click="$ctrl.exitIconClickHander()"></icon>
	</div>
	<div ng-show="!$ctrl.node.isClosed || $ctrl.filter">
		<cc-tree-list
			nodes="$ctrl.node.children"
			filter="$ctrl.filter"
			on-node-selected="$ctrl.onSelected"
			on-node-added="$ctrl.onAdded"
			on-node-renamed="$ctrl.onRenamed"
			on-node-removed="$ctrl.onRemoved"
			on-node-right-clicked="$ctrl.onRightClicked"
			on-node-status-updated="$ctrl.onStatusUpdated"
		></cc-tree-list>
	</div>
</section>

