@import '../styles/button';

.calendar {
	background: #fff;
	border: 1px solid #d9d9d9;
	font-size: 12px;
	display: none;
	margin-top: -1px;
	position: absolute;
		left: 0;
		top: 100%;
		z-index: $calendar-z-index;
	text-align: center;

	li {
		float: left;
		list-style: none;
		width: percentage(1 / 7);
	}
}

.calendar-header {
	background: #f4f4f4;
	border-bottom: 1px solid #d9d9d9;
	overflow: auto;

	> select {
		font-size: 12px;
		height: 20px;
		margin: 6px 2px 0;
		width: 80px;
	}
}

.calendar-prev,
.calendar-next {
	color: #b7b7b7;
	cursor: pointer;
	font-size: 12px;
	line-height: 30px;
	width: 30px;
	-webkit-user-select: none;
}

.calendar-prev {
	float: left;
	transform: rotate(180deg);
}

.calendar-next {
	float: right;
}

.calendar-week-title {
	color: #2d2d2d;
	font-size: 12px;
	line-height: 32px;
	margin: 0 2px;
	overflow: auto;
	padding: 0;
}

.calendar-days {
	color: #3d3d3d;
	font-size: 12px;
	line-height: 24px;
	margin: 0 3px 3px;
	overflow: auto;
	padding: 0;
	width: 224px;

	> li {
		border: 1px solid #fff;
		cursor: pointer;
		margin: 1px;
		width: 28px;

		&:hover {
			border-color: #aacbe1;
		}

		&.disabled {
			background: #fff;
			border-color: #fff;
			color: #c0c0c0;
			cursor: not-allowed;
		}

		&.in-range {
			background: #ecf8fc;
		}

		&.active {
			background: #ecf8fc;
			border-color: #aacbe1;
			color: #0083ba;
		}

	  	&.festival {
		  	color: #ff7800;
		}
	}
}

.calendar-day-other-month {
	color: #c0c0c0;
}

.calendar-time {
	color: #3d3d3d;
	padding: 10px 12px;
	text-align: left;
}

.calendar .calendar-time-input {
	border: 1px solid #d9d9d9;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	margin: 0 1px;
	outline: 0;
	padding: 0;
	text-align: center;
	width: 44px !important;
}

.calendar-buttons {
	overflow: auto;
	padding: 8px 12px;
	text-align: left;
}

.calendar-button-cancel {
	@extend %button;
}

.calendar-button-ok {
	@extend %button;
	@extend %btn-primary;
	float: right;
}
