<div class="calendar" ng-click="ctrl.preventDefault($event)">
	<div class="calendar-header" ng-hide="ctrl.hideMonth()">
		<span class="calendar-prev iconfont icon-rightarrow" ng-style="{'visibility': ctrl.hideYear() ? 'hidden' : 'inherit', 'cursor': ctrl.disabledL ? 'not-allowed' : 'pointer'}" ng-click="ctrl.switchMonth(-1)"></span><select ng-model="ctrl.parts.month"
						ng-options="index as month for (index, month) in ctrl.months" ng-disabled="ctrl.disableMonth" ng-hide="ctrl.hideMonth()"
						ng-change="ctrl.changeMonth()"></select><select ng-model="ctrl.parts.year"
						ng-options="year for year in ctrl.years" ng-disabled="ctrl.disableYear" ng-hide="ctrl.hideYear()"
						ng-change="ctrl.changeYear()"></select><span class="calendar-next iconfont icon-rightarrow" ng-style="{'visibility': ctrl.hideYear() ? 'hidden' : 'inherit', 'cursor': ctrl.disabledG ? 'not-allowed' : 'pointer'}" ng-click="ctrl.switchMonth(1)"></span>
	</div>

	<ul class="calendar-week-title">
		<li>日</li><li>一</li><li>二</li><li>三</li><li>四</li><li>五</li><li>六</li>
	</ul>

	<ul class="calendar-days">
		<li ng-repeat="date in ctrl.timeRange" ng-init="isFesDefined = ctrl.isFestivalDefined(date)"
			ng-class="{'calendar-day-other-month': date.otherMonth, 'active': date.active, 'disabled': date.disabled, 'in-range': date.inRange, 'festival': ctrl.isFestival && isFesDefined}"
			ng-click="!date.disabled && ctrl.setDate(date)">
			<span ng-if="ctrl.isFestival && isFesDefined" cc-tooltip="ctrl.isFestivalDefined(date)">{{date.getDate()}}</span>
			<span ng-if="!(ctrl.isFestival && isFesDefined)">{{date.getDate()}}</span>
		</li>
	</ul>

	<div class="calendar-time" ng-show="!ctrl.dateOnly">
		时间：
		<input class="calendar-time-input"
					 name="hour"
					 ng-model="ctrl.parts.hour"
			   		 autocomplete="off"
					 maxlength="2"
					 ng-min="0"
					 ng-max="23"
					 ng-keyup="ctrl.updateTime($event)"
					 ng-blur="ctrl.addTimeZero($event)"> <span>:</span>
		<input class="calendar-time-input"
					 name="minute"
					 ng-model="ctrl.parts.minute"
			   		 autocomplete="off"
					 maxlength="2"
					 ng-min="0"
					 ng-max="59"
					 ng-keyup="ctrl.updateTime($event)"
					 ng-blur="ctrl.addTimeZero($event)"> <span ng-hide="ctrl.hideSeconds()">:</span>
		<input class="calendar-time-input"
					 name="second"
					 ng-model="ctrl.parts.second"
			   		 autocomplete="off"
					 maxlength="2"
					 ng-min="0"
					 ng-max="59"
			         ng-hide="ctrl.hideSeconds()"
					 ng-keyup="ctrl.updateTime($event)"
					 ng-blur="ctrl.addTimeZero($event)">
	</div>

	<div class="calendar-buttons">
		<button class="calendar-button-cancel" ng-hide="ctrl.hideMonth() || ctrl.hideYear() || ctrl.disableMonth || ctrl.disableYear" type="button" ng-click="ctrl.setNow()">
			{{ctrl.dateOnly ? '今天' : '现在'}}
		</button>
		<button class="calendar-button-ok"
						type="button"
						ng-click="ctrl.confirm()"
						ng-disabled="!ctrl.isValid()">确定</button>
	</div>
</div>
