<div class="ccms-modal" data-uid="{{::uid}}">

	<div class="container modal" ng-class="{'fullscreen':isFullScreen}"
	     ng-style="isFullScreen?{}:{width:style.width,'max-width':style['max-width'],'min-width':style['min-width']}">

		<header>

			<h3 ng-bind="::title"></h3>
			<div class="icons">
				<span ng-if="fullscreen" class="set-fullscreen" ng-click="$parent.isFullScreen=true"></span>
				<span class="cancel-fullscreen" ng-click="isFullScreen=false"></span>
				<span class="close-modal" ng-click="$close()"></span>
			</div>

		</header>

		<div class="modal-body" ng-style="isFullScreen?{}:style"></div>

		<footer>
			<button class="btn-ok" ng-click="$ok()">确定</button>
			<button class="btn-cancel" ng-click="$cancel()">取消</button>
		</footer>

	</div>

	<div class="mask"></div>
</div>
