@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes rotate {
  100% {
	transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
  }
  50% {
	stroke-dasharray: 89, 200;
	stroke-dashoffset: -35px;
  }
  100% {
	stroke-dasharray: 89, 200;
	stroke-dashoffset: -124px;
  }
}
