@import 'popup';
@import 'inputs';
@import "variables";
@import '../../assets/iconfont/iconfont';
.area-content {
  background: #f8f8f8;
  min-height: 500px;
}
.choosed-area {
  margin-top: 20px;
  .choosed {
    position: relative;
    display: inline-block;
    padding-left: 8px;
    margin-left: 10px;
    height: 22px;
    line-height: 22px;
    background: #eff7ff;
    border: 1px solid #e7f3ff;
    border-radius: 1px ;
    font-family: $font;
    color: #0183ba;
    text-align: left;
    font-size: 12px;
    .up-level {
      color: #777777;
    }
    .icon-box {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 2px;
      right: 2px;
      border: 1px solid red;
    }
    & .iconfont:before {
      font-size: 10px;
      color: #999999;
    }
  }
}
.common-area {
  @include normalfont;
  margin-top: 11px;
  ul {
    padding-left: 0;
    height: 14px;
    li {
      height: 14px;
      float: left;
       margin-right: 54px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
      .iconfont {
        width: 14px;
        height: 14px;
        margin-right: 6px;
        vertical-align: -1px;
        &:before {
          font-size: 14px;
          color: #999999;
        }
      }
    }
  }
}
.select-area {
  @extend .common-area;
  margin-top: 20px;
  height: 218px;
  .select-wrapper {
    width: 198px;
    height: 216px;
    background: #fff;
    border: 1px solid #ededed;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    p {
      height: 28px;
      margin: 0;
      text-align: center;
      color: #999999;
      line-height: 28px;
    }
    ul {
      height: 100%;
      padding: 0;
      margin: 0;
      overflow-y: auto;
    }
    li {
      width: 158px;
      height: 30px;
      line-height: 30px;
      padding: 0 20px;
      .up-level {
        float: right;
        color: #cccccc;
        font-size: 16px;
      }
      &:hover {
        background: #f0f3f5;
      }
    }
  }
}
.font-normal {
  @include normalfont;
}