@import "../../../node_modules/normalize.css";
@import "button";
@import "variables";
@import "input";
@import "layout";

body {
	font-family: $font-family;
}

ul, li, p {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}
