@import "../../../node_modules/normalize.css";
@import "button";
//@import "layout";
@import "input";

body {
  font-family: Tahoma, 'Microsoft Yahei', sans-serif;
}
ul,li,p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
