@import "../../../node_modules/normalize.css";
@import "button";
@import "variables";
@import "input";
@import "layout";
@import "layout-flex";

/* 页面默认样式 */
body {
	font-family: $font-family;
	font-size: $font-size-base;
}

ul, li, p {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #0083ba;

	&:link {
		color: #0083ba;
	}

	&:hover {
		color: #00aaf1;
	}
}

