// choose shop
.choose-shop {
  display: inline-block;
  position: relative;
  top: -2px;
  height: $height-choose-shop + 2px;
  line-height: $height-choose-shop;
  padding-left: $padding-choose-shop;
  background: $background-choose-shop;
  border: solid 1px $border-choose-shop;
  color: $font-color-choose-shop;
  font-size: $font-size-choose-shop;

  .shop-list-box {
    float: right;
    display: inline-block;

    &:hover {
      .current-choose-shop {
        background: #ffffff;
        height: $height-choose-shop + 2px;
        border-left: solid 1px $border-choose-shop;
        line-height: $height-choose-shop;

        &:after {
          top: 5px;
          border-color: transparent;
          border-bottom-color: $font-color-choose-shop;
        }
      }

      .shop-list {
        display: block;
        a {
          text-decoration: none;
        }
      }
    }

    .current-choose-shop {
      display: inline-block;
      position: relative;
      z-index: 300;
      padding-right: 25px;
      padding-left: 8px;
      width: auto;
      height: $height-choose-shop;
      font-size: $font-size-choose-shop-nav;
      background: $background-choose-shop;

      &:after {
        position: absolute;
        right: 10px;
        top: 10px;
        content: " ";
        display: inline-block;
        width: 0;
        height: 0;
        border-width: 4px;
        border-style: solid;
        border-color: transparent;
        border-top-color: $font-color-choose-shop;
      }
    }

    .shop-list {
      display: none;
      position: absolute;
      z-index: 200;
      top: $height-choose-shop;
      border-bottom: solid 1px $border-choose-shop;
      border: solid 1px $border-choose-shop;

      a {
        display: block;
        width: 117px;
        height: $height-choose-shop;
        color: $font-color-choose-shop-nav;
        font-size: $font-size-choose-shop-nav;
        background: #ffffff;
        padding-left: 8px;

        &:hover {
          color: $link-default-color;
          background: $background-shop-nav-hover;
        }
      }
    }
  }
}
