$left-width: 180px;
$center-width: 200px;
$right-width: 200px;
$min-width: 30px;
$body-min-height: 650px;
.ccmsc-main-container {
	display: flex;
	min-height: $body-min-height;
	height: 100%;
	.left-container {
		//@include test-border;
		flex: none;
		order: 1;
		z-index: 200;
		width: $left-width;
	}
	.center-container {
		flex: 1;
		order: 2;
		padding: 20px;
	}

	.right-container {
		//@include test-border;
		flex: 0 0 16em;
		order: 3;
		padding: 20px;
		display: none;
	}

	&.contract-left {
		.left-container {
			width: $min-width;
		}
	}

	&.type-two {
		.right-container {
			//@include test-border;
			width: $right-width;
			padding: 20px;
			display: block;
		}
	}

	&.type-three {
		.center-container {
			flex: none;
			width: 200px;
			padding: 20px;
		}
		.right-container {
			display: block;
			flex: 1;
		}
	}
}
