$side-container-width: 180px;

.cc-main-container {

	position: relative;
	display: flex;
	flex-direction: row;
	height: 100%;

	& .cc-side-container {
		width: $side-container-width;
		order: 1;
	}

	& cc-menu-bar {
		position: relative;
		z-index: 1;
	}

	& .cc-content-container {
		flex: 1;
		padding: 20px;
		order: 2;
	}

	& .cc-aside-container {
		flex: 0 0 16em;
		order: 3;
	}
}
