@import "variables";

.loading-box {

}

@mixin loader ($width,$stroke-width) {
  position: relative;
  width: $width;
  &:before {
	content:'';
	display: block;
	padding-top: 100%;
  }
  .circular {
	animation: rotate 2s linear infinite;
	height: 100%;
	transform-origin: center center;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	.path {
	  stroke-width: $stroke-width;
	  stroke-miterlimit: 10;
	  stroke: #00AAF1;
	  stroke-dasharray: 1,200;
	  stroke-dashoffset: 0;
	  animation: dash 1.5s ease-in-out infinite;
	  stroke-linecap: round;
	}
  }
}


@keyframes rotate{
  100%{
	transform: rotate(360deg);
  }
}
@keyframes dash{
  0%{
	stroke-dasharray: 1,200;
	stroke-dashoffset: 0;
  }
  50%{
	stroke-dasharray: 89,200;
	stroke-dashoffset: -35px;
  }
  100%{
	stroke-dasharray: 89,200;
	stroke-dashoffset: -124px;
  }
}
//60px loading
.table-loading {
  @include loader(60px,2);
}
//40px loading
.portale-loading {
  @include loader(40px,3)
}
//16px loading
.label-loading {
  @include loader(16px,4)
}
//loading + 80px背景框
.loading-box {
  width: 80px;
  height: 80px;
  background: rgba(224,224,224,0.8);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  p{
	font-family: $font;
	font-size:12px;
	color: #666666;
  }
}
