// links
@mixin all-link($link-color) {
  a, a:link, a:hover, a:visited, a:active {
	color: $link-color;
	text-decoration: none;
  }
}

@mixin self-link($link-color) {
  &, &:link, &:hover, &:visited, &:active {
	color: $link-color;
	text-decoration: none;
  }
}

// test
@mixin test-border {
  border: 1px solid red;
}

@mixin fonts {
  font-family: $font-string;
  font-size: 12px;
}

@mixin horiz-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//icon border
@mixin order {
  font-size: 10px;
  height: 38px;
  line-height: 38px;
}

//tab
// opacity ie: $number=50
@mixin opacity($number) {
  filter: alpha(opacity=$number);
  -moz-opacity: $number / 100;
  opacity: $number / 100;
}

// linear gradient
@mixin linear-gradient($angel, $startColor, $endColor, $background-color: $endColor) {
  background: $background-color linear-gradient($angel, $startColor, $endColor);
}

//grid
@mixin cut-long-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// area-select
@mixin normalfont {
  font-size: 12px;
  font-family: $font;
  color: #666666;
  text-align: left;
}

@mixin clear-fix {
  zoom: 1;
  &:before, &:after {
	content: "";
	display: block;
	clear: both;
  }
}
