%clear-fix {
  zoom: 1;

  &:before, &:after {
	content: "";
	display: table;
  }
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%absolute-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
