@import "variables";
.title-font-style{
  font-size: $font-size-title;
  color: $font-color-title;
}


.title-with-prefix-icon{
  @extend .title-font-style;
  display: inline-block;
  line-height: 25px;
  margin-right: 16px;
  text-indent: 15px;
  position: relative;
  &:after {
    content: ' ';
    display: inline-block;
    height: $size-icon-prefix-title;
    width: $size-icon-prefix-title;
    background: #333;
    position: absolute;
    left: 0;
    top: $size-icon-prefix-title + 1px;
    box-shadow: 0 $size-icon-prefix-title + 2px 0 $font-color-title, $size-icon-prefix-title + 2px 0 0 $font-color-title;
  }
}

