<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>地区选择器</title>
	<script src="/style.js"></script>
</head>
<body>
<div class="container-with-opacity-mask">
	<div class="cwom-container ">
		<div class="popup-content area-content">
			<div class="popup-header">
				<h3 class="ph-title">我是标题</h3>
				<div class="icon-wrapper">
					<span class="iconfont fullscreen-icon"></span>
					<span class="iconfont cancelscreen-icon"></span>
					<span class="iconfont close-popup-icon"></span>
				</div>
			</div>
			<div class="popup-body">
				<div class="error-message-wrapper">
					<span class="iconfont icon-iconfontwarning"></span>
					<span class="emw-text">这里是错误提示, 错误提示在这里</span>
				</div>
				<span class="search">
					<input type="text" placeholder="请输入区域名称" />
					<span class="iconfont icon-iconfontsearch"></span>
				</span>
				<div class="choosed-area">
					<span class="font-normal">已选:</span>
					<div class="choosed">
						<span>浙江<span class="up-level"> &gt; </span>杭州<span class="up-level"> &gt; </span>上城区</span>
						<span class="iconfont icon-guanbi"></span>
					</div>
				</div>
				<div class="common-area">
					常用区域:
					<ul>
						<li><span class="iconfont icon-quanping"></span>江浙沪</li>
						<li><span class="iconfont icon-quanping"></span>珠三角</li>
						<li><span class="iconfont icon-quanping"></span>京津翼</li>
						<li><span class="iconfont icon-quanping"></span>东三省</li>
						<li><span class="iconfont icon-quanping"></span>港澳台</li>
						<li><span class="iconfont icon-quanping"></span>江浙沪皖</li>
					</ul>
				</div>
				<div class="select-area">
					<div class="select-wrapper">
						<p>省选择</p>
						<ul class="select-province">
							<li><span class="iconfont icon-quanping"></span>不限</li>
							<li><span class="iconfont icon-quanping"></span>上海<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>江苏<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>浙江<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>安徽<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>安徽<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>安徽<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>安徽<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>安徽<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>安徽<span class="up-level"> &gt; </span></li>
						</ul>
					</div>
					<div class="select-wrapper">
						<p>市选择</p>
						<ul class="select-city">
							<li><span class="iconfont icon-quanping"></span>杭州<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>宁波<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>温州<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>绍兴<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>金华<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>嘉兴<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>嘉兴<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>嘉兴<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>嘉兴<span class="up-level"> &gt; </span></li>
							<li><span class="iconfont icon-quanping"></span>嘉兴<span class="up-level"> &gt; </span></li>
						</ul>
					</div>
					<div class="select-wrapper">
						<p>区县选择</p>
						<ul class="select-county">
							<li><span class="iconfont icon-quanping"></span>上城区</li>
							<li><span class="iconfont icon-quanping"></span>下城区</li>
							<li><span class="iconfont icon-quanping"></span>西湖区</li>
							<li><span class="iconfont icon-quanping"></span>滨江区</li>
							<li><span class="iconfont icon-quanping"></span>滨江区</li>
							<li><span class="iconfont icon-quanping"></span>滨江区</li>
							<li><span class="iconfont icon-quanping"></span>滨江区</li>
							<li><span class="iconfont icon-quanping"></span>滨江区</li>
							<li><span class="iconfont icon-quanping"></span>滨江区</li>
							<li><span class="iconfont icon-quanping"></span>滨江区</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="popup-foot">
				<div class="btn-wrapper">
					<button class="button-sure button-btn">确定</button>
					<button class="button-cancel button-btn">取消</button>
				</div>
			</div>
		</div>
	</div>
	<div class="cwom-mask"></div>
</div>
</body>
</html>