<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frame One</title>
    <script src="/style.js"></script>
</head>
<body>
<div class="ccmsc-main-container contract-left type-three">
    <div class="left-container constact-container">
        <!--<div class="menu-wrap">
            <div class="menu-container">
                <div class="expand"><span class="menu-constract-icon"></span></div>
                <div class="retrack-shop"><span></span></div>
                <div class="menu-shop-show">
                    <div class="shop-wrapper" style="display: none"><span></span></div>
					<img class="img-wrapper">
                    <p class="shop-name"><span>淘宝</span>&nbsp;|&nbsp;<span>KARL海外旗舰店</span></p>
                </div>
                <ul class="menu-list">
                    <li>
                        <a class="one-list">
                            <span>左菜单一级</span>
                            <span class="up-icon"></span>
                        </a>
                        <ul class="menu-list">
                            <li>
                                <a class="active">
                                    <span>二级菜单</span>
                                </a>
                                <ul class="menu-list">
                                    <li>
                                        <a>
                                            <span>三级菜单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>三级菜单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>三级菜单</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>
                                    <span>二级菜单</span>
                                </a>
                                <ul class="menu-list">
                                    <li>
                                        <a>
                                            <span>三级菜单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>三级菜单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>三级菜单</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>
                                    <span>二级菜单</span>
                                </a>
                                <ul class="menu-list">
                                    <li>
                                        <a>
                                            <span>三级菜单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>三级菜单</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>三级菜单</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>


                </ul>
                <div class="shop-choose-wrapper shop-choose-none">
                    <div class="shop-search">
                        <input type="search" placeholder="请输入店铺名称">
						<span class="shop-search-clear"></span>
                        <span class="shop-search-icon"></span>
                    </div>
                    <div class="shop-info-wrapper">
                        <p>淘宝店铺</p>
                        <ul>
                            <li>啦啦啦啦啦啦时尚旗舰店啦啦啦</li>
                            <li class="active">啦啦啦啦啦啦时尚旗舰店啦啦啦<span></span></li>
                            <li>啦啦啦啦啦啦时尚旗舰店啦啦啦</li>
                            <li>啦啦啦啦啦啦时尚旗舰店啦啦啦</li>
                        </ul>
                        <p>淘宝店铺</p>
                        <ul>
                            <li>啦啦啦啦啦啦时尚旗舰店啦啦啦</li>
                            <li>啦啦啦啦啦啦时尚旗舰店啦啦啦</li>
                            <li>啦啦啦啦啦啦时尚旗舰店啦啦啦</li>
                            <li>啦啦啦啦啦啦时尚旗舰店啦啦啦</li>
                        </ul>
                    </div>
                    <div class="shop-info-none">
                        <p>没有搜索结果</p>
                        <p>请重新输入关键字或者查看<a>全部店铺</a></p>
                    </div>
                </div>
            </div>
        </div>-->

    </div>
    <div class="center-container">
        <!--<i class="iconfont">&#xe607;</i>
        <a href="#" class="iconfont edit-icon"></a>
        <div class="ccms-select">
            &lt;!&ndash;<div class="arrow"></div>&ndash;&gt;
            <select name="test" id="cmsele">
                <option value="1">this is test 1</option>
                <option value="2">this is test 2</option>
                <option value="3">this is test 3</option>
                <option value="4">this is test 4</option>
                <option value="5">this is test 5</option>
                <option value="6">this is test 6</option>
            </select>
        </div>-->

    </div>
    <div class="right-container"></div>
</div>

</body>
</html>
