<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>输入框</title>
	<script src="/style.js"></script>
</head>
<body>
	<div class="row-wrapper">
		<span class="title">输入框</span>
		<span class="input-wrapper"><input type="text"></span>
	</div><br>
	<div class="row-wrapper">
		<span class="title">输入框(有文案提示)</span>
		<span class="input-wrapper"><input type="text" placeholder="请输入公司名"></span>
	</div><br><br>
	<div class="row-wrapper">
		<span class="title">禁用</span>
		<span class="input-wrapper"><input type="text" placeholder="数云上海" disabled></span>
	</div><br>
	<div class="row-wrapper">
		<span class="title">错误提示1</span>
		<span class="input-wrapper">
			<input type="text" class="error" />
		</span>
		<span class="error-info">我是错误信息2</span>
	</div><br>
	<div class="row-wrapper">
		<span class="title">错误提示1</span>
		<span class="input-wrapper">
			<input type="text" class="error" />
			<span class="tips input-error-tips">我是错误信息2</span>
		</span>
	</div><br>
	<div class="row-wrapper">
		<span class="title">日期</span>
		<span class="input-wrapper date-picker">
			<input type="text" />
			<span class="iconfont icon-webcalendar"></span>
		</span>
	</div><br>
	<div class="row-wrapper">
		<span class="title">智能搜索</span>
		<span class="input-wrapper search">
			<input type="text" placeholder="请输入区域名称" />
			<span class="iconfont icon-iconfontsearch"></span>
		</span>
	</div><br>
	<div class="row-wrapper">
		<span class="title">智能搜索</span>
		<span class="input-wrapper search">
			<input type="text" placeholder="请输入区域名称" />
			<span class="iconfont icon-iconfontsearch active"></span>
			<ul class="search-hint">
				<li>上海</li>
				<li><span class="up-level">浙江 &gt; </span><span class="up-level">杭州 &gt; </span>上城区</li>
			</ul>
		</span>
	</div><br>
	<div class="row-wrapper">
		<span class="title">输入框</span>
		<span class="input-wrapper"><input type="text"></span>
	</div><br>
	<div class="row-wrapper">
		<span class="title">下拉框</span>
		<span class="input-wrapper drop-down">
			<input style="width:88px;" type="text" placeholder="请选择">
			<span class="iconfont icon-iconfontarrowdropdown active"></span>
		</span>
		<span class="input-wrapper drop-down">
			<input style="width:88px;" type="text" placeholder="请选择">
			<span class="iconfont icon-iconfontarrowdropdown active"></span>
			<ul class="drop-down-list">
				<li>正序</li>
				<li>逆序</li>
			</ul>
		</span>
	</div><br>
</body>
</html>