<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<script src="/style.js"></script>
</head>
<body>
    <div class="bs-docs-example">
        <h2>Tab</h2>
        <ul class="tab-title clear-fix">
            <li class="hover">活动列表</li>
            <li>短信活动
                <a href="javascript:void(0);" class="tab-close"></a>
            </li>
            <li title="超长的Tab标题被忽略">超长的Tab标题被忽略</li>
            <li style="max-width: 250px;">可重新定义max-width加大宽度</li>
        </ul>
        <ul class="tab-btn-title clear-fix">
            <li class="hover">效果报告</li>
            <li>特征分析</li>
        </ul>
    </div>
    <div class="bs-docs-example">
        <h2>按钮</h2>
        <a class="button-sure">确定</a>
        <a class="button-unclickable">不能点击</a>
        <a class="button-cancel">取消</a>
        <a class="button-add">添加</a>
        <a class="button-create">创建事务</a>
        <a class="button-mini-white">关怀</a>
        <a class="button-mini-blue">再次关怀</a>
        <a class="button-mini-gray">隐藏</a>
    </div>
    <div class="bs-docs-example">
        <h2>表单</h2>
        <h3>输入框</h3>
        <input class="input-lnitial"/>
        <input class="input-error"/>
        <input leqend="test" class="input-disable"/>
        <h3>下拉菜单</h3>
        <select class="comm-select">
            <option value="1">测试店铺1</option>
            <option value="2">测试店铺2</option>
            <option value="3">测试店铺3</option>
            <option value="4">测试店铺4</option>
        </select>
    </div>
    <div class="bs-docs-example">
        <h3>重要常显提示</h3>
        <p class="tips-important">单条短信按70字(含签名)每条计费，超出70字为长短信,长短信按67字/条计费。</p>
        <h3>普通常显提示</h3>
        <p class="tips-normal">例：杭州设置最大合理在途时长为3天，发往杭州的快递发货3日未签收作为...</p>
        <h3>标签</h3>
        <span class="tips-label">13596740453<div class="tl-close">×</div></span>
        <h3>注意事项</h3>
        <span class="tips-notice-text">
            注意事项
            <span class="tips tips-notice">
                <div class="light-ball"></div>
                为避免骚扰客户，数据赢家在每天23点至次日8点间将不会发送任何短信，这段时间提交的短信顺延至次日8点后发送；<br/>如果节点已经运行完成，任何修改（包括时间、内容）在发送时都不会生效。
            </span>
        </span>
        <h3>建议催付</h3>
            <div class="tips-icon tips-icon-advice">
            <span class="tips tips-advice">
                <div style="color: #1e9832; border-bottom: 1px solid #e5e5e5;margin-bottom: 3px;padding-bottom: 3px;">
                    建议催付
                </div>
                <div>3日内总订单：<b>3</b>笔</div>
                <div>未支付：<b>2</b>笔</div>
                <div>已支付：<b>0</b>笔</div>
                <div>已关闭：<b>1</b>笔</div>
                <div>3天内未进行催付</div>
            </span>
            </div>
    </div>
    <div class="bs-docs-example">
        <div class="choose-shop">
            您的店铺：
            <div class="shop-list-box">
            <span class="current-choose-shop">
              当前店铺
            </span>
                <nav class="shop-list">
                    <a href="javascript:void(0);">我的店铺</a>
                    <a href="javascript:void(0);">我的店铺</a>
                    <a href="javascript:void(0);">我的店铺</a>
                    <a href="javascript:void(0);">我的店铺</a>
                    <a href="javascript:void(0);">我的店铺</a>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>
