<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tab</title>
    <script src="/style.js"></script>
</head>
<body>
  <div class="ccmsc-main-container" style="margin: 20px;">
		<ul class="tab-title clear-fix">
			<li class="active">活动列表</li>
			<li>短信活动
				<span href="javascript:void(0);" class="tab-close"></span>
			</li>
			<li title="超长的标题被忽略超长的标题被忽略">超长的标题被忽略超长的标题被忽略</li>
			<li style="max-width: 250px;">可重新定义max-width加大宽度</li>
			<div class="btns">
				<span class="btn-back"></span>
				<span class="btn-forward disabled"></span>
			</div>
		</ul>
  </div>

</body>
</html>
