<div class="date-range">
	<cc-date-picker ng-model="ctrl.opts.start"
					min-date="ctrl.opts.minDate"
					max-date="ctrl.opts.end || ctrl.opts.maxDate"
					end="ctrl.opts.end"
					date-only="ctrl.opts.dateOnly"
					disabled="ctrl.opts.disabled"
					range-start="true"
					on-calendar-open="ctrl.onCalendarOpen()"
					on-calendar-close="ctrl.onCalendarClose()"
					is-festival="ctrl.isFestival"
					custom-festivals="ctrl.customFestivals"
					disable-year="ctrl.opts.disableYear"
					disable-month="ctrl.opts.disableMonth"></cc-date-picker>
	<span class="date-range-sep">-</span>
	<cc-date-picker ng-model="ctrl.opts.end"
					min-date="ctrl.opts.start || ctrl.opts.minDate"
					max-date="ctrl.opts.maxDate"
					start="ctrl.opts.start"
					date-only="ctrl.opts.dateOnly"
					disabled="ctrl.opts.disabled"
					range-end="true"
					on-calendar-open="ctrl.onCalendarOpen()"
					on-calendar-close="ctrl.onCalendarClose()"
					is-festival="ctrl.isFestival"
					custom-festivals="ctrl.customFestivals"
					disable-year="ctrl.opts.disableYear"
					disable-month="ctrl.opts.disableMonth"></cc-date-picker>
</div>
