<!DOCTYPE html>
<meta charset="UTF-8">
<title>菜单栏</title>

<main style="height: 100vh;" ng-app="componentsApp" ng-controller="ctrl as app">

	<article class="cc-main-container">

		<cc-menu-bar class="cc-side-container"
		             unfold="app.menusOptions.unfold"
		             on-unfold="app.menusOptions.unfoldClick"
		             menu-source="app.menusOptions.menusResource"
		             shop-source="app.menusOptions.shopsResource"
		             search-placeholder="app.menusOptions.searchPlaceholder">

		</cc-menu-bar>

		<ui-view class="cc-content-container"></ui-view>

		<aside class="cc-aside-container"></aside>

	</article>

</main>

<script src="/components.js"></script>
<script src="app.js"></script>

