<div class="menu-container" ng-class="{'ccms-left':!menus.unfold}">

    <!-- menus收起 -->
    <div class="expand" ng-click="menus.unfoldClick(menus.unfold)">

        <span class="iconfont menu-constract-icon"></span>

    </div>

    <div class="retrack-shop"
         ng-if="menus.shopList"
         ng-click="menus.shopShow=!menus.shopShow">
        <span></span>
    </div>
    <!-- menus收起 end -->


    <!-- 店铺 header -->
    <div class="menu-shop-show"
         ng-click="menus.showShopSelect()"
         ng-if="menus.shopList">

        <div class="shop-wrapper"
             ng-if="!menus.active.shop.logo">

            <span></span>
        </div>

        <img ng-if="menus.active.shop.logo"
             ng-src="{{menus.active.shop.logo}}"
             class="img-wrapper">

        <p class="shop-name">

            <span ng-bind="menus.active.plat.name"></span>
            |
            <span ng-bind="menus.active.shop.name"></span>

        </p>
    </div>
    <!-- 店铺 header end -->

    <!-- menus-node  -->
    <menu-node list="menus.menuList"
               toggle="true"
               level="0"
               ng-if="menus.unfold">
    </menu-node>

    <!-- shop-select -->
    <shop-select collapsed="menus.shopShow"
                 ng-if="menus.shopList"
                 shop-info="menus.active"
                 placeholder="menus.searchPlaceholder"
                 shop-list="menus.shopList">
    </shop-select>
</div>