<ul class="menu-list" ng-show="childNode.toggle">
    <li ng-repeat="menu in childNode.list track by $index">

        <!-- 一级菜单 -->
        <a class="one-list"
           ng-class="{'one-content':childNode.level > 0}"
           ng-style="{'padding-left':childNode.level === 0 ? '20px' : (10*(childNode.level+2)+'px')}"

           ng-if="menu.children && menu.children.length > 0"

           ng-click="childNode.clickParents(menu)">

            <span ng-bind="menu.name"></span>

            <!-- 角标 -->
            <span class="iconfont"
                  ng-class="{'up-icon':menu.toggleNode,'down-icon':!menu.toggleNode}"
                  ng-if="menu.children && menu.children.length > 0 && childNode.level === 0">
            </span>{{childNode.toggleNode}}
            <!-- 角标 end -->
        </a>

        <a class="one-list"
           ng-class="{'one-content':childNode.level > 0}"
           ng-style="{'padding-left':childNode.level === 0 ? '20px' : (10*(childNode.level+2)+'px')}"

           ui-sref="{{menu.url}}"

           ng-click="childNode.clickMenus(menu)"

           ui-sref-active="active"

           ng-if="(menu.children && menu.children.length == 0)||!menu.children">

            <span ng-bind="menu.name"></span>
        </a>

        <!-- 一级菜单 end -->

        <menu-node
                ng-if="menu.children && menu.children.length > 0"
                toggle="menu.toggleNode"
                level="childNode.level+1"
                list="menu.children">
        </menu-node>
    </li>
</ul>

