<div class="shop-choose-wrapper"
     ng-class="{'shop-choose-none':shops.list.length <= 0,'shop-select-show':!shops.isInit&&shops.retract,'shop-select-hide': !shops.isInit&&!shops.retract}">
    <div class="shop-search">
        <input type="search" placeholder="{{shops.placeholder}}"
               ng-model="shops.searchName"
               ng-keyup="shops.searchShop($event,'keyup',shops.searchName)">

        <span class="shop-search-clear"
              ng-if="shops.searchName"
              ng-click="shops.resetSearchValue()"></span>

        <span class="shop-search-icon"
              ng-class="{'active':shops.searchName}"
              ng-click="shops.searchShop(null,'click',shops.searchName)"></span>
    </div>

    <div class="shop-info-wrapper">
        <div ng-repeat="shop in shops.list track by $index">
            <p ng-bind="shop.name"></p>
            <ul>
                <li ng-repeat="item in shop.child track by $index"
                    ng-class="{'active': shops.shopInfo.plat.value === shop.value && shops.shopInfo.shop.value === item.value}"
                    ng-click="shops.selectedShop(shop,item)">
                    {{item.name}}
                    <span></span>
                </li>
            </ul>
        </div>
    </div>

    <div ng-if="shops.list.length <= 0" class="shop-info-none">
        <p>没有搜索结果</p>
        <p>请重新输入关键字或者<a href="javascript:void(0);" class="shop-list-btn"
                        ng-click="shops.searchShop(null,'click',''); shops.searchName='';">查看全部</a>
        </p>
    </div>
</div>
