@import "../../assets/iconfont/iconfont";
@import '../styles/variables';

@mixin loader($width,$stroke-width) {
	position: relative;
	width: $width;
	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
	.circular {
		animation: rotate 2.9s linear infinite;
		height: 100%;
		transform-origin: center center;
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		.path {
			stroke-width: $stroke-width;
			stroke-miterlimit: 10;
			stroke: #00AAF1;
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
			animation: dash 1.2s linear infinite;
			stroke-linecap: round;
		}
	}
}

loading {
	display: inline-block;
	@include loader(40px, 3)
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}
