@import "../../assets/iconfont/iconfont";

loading {

  display: inline-block;

  div {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    span {

      @extend .iconfont;
      @extend .icon-iconfontloading;

      animation: spin 800ms infinite linear;
      color: grey;
      font-size: 1.25rem;
    }

    &.layer {
      height: 60px;
      width: 60px;
      border-radius: 6px;
      background: #DEDEDE;

      span {
        color: #fff;
        font-size: 2.8rem;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
