<div class="instant-search">
	<input type="text" class="instant-search-input" placeholder="{{::$ctrl.options.placeholderText}}"
			ng-model="$ctrl.searchText"
			ng-model-options="{debounce: 500}" />
	<span class="instant-search-icon active"></span>
	<ul class="search-hint"
			ng-if="$ctrl.searchText && $ctrl.isHintOpen">
		<li ng-repeat="item in $ctrl.searchResult track by $index"
				ng-mousedown="$ctrl.selectItem(item)"
				ng-class="{focus: $index === $ctrl.focusIndex}">
			<span ng-bind="item[$ctrl.options.displayField]"></span>
		</li>
		<li class="empty-list-item" ng-if="!$ctrl.searchResult.length">
			<span>没有匹配</span>
		</li>
	</ul>
</div>
