<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body ng-app="app" ng-controller="ctrl as Ctrl" style="height: 10000px">

<button type="button" style="margin-top: 500px" ng-click="openBase()">open base modal</button>

<button type="button" style="margin-top: 500px" ng-click="open()">open modal</button>

<button type="button" ng-click="confirm()">confirm</button>

<div ng-repeat="a in Ctrl.array" ng-bind="a"></div>

<script src="/components.js"></script>

<!--<script src="/node_modules/angular/angular.min.js"></script>-->
<!--<script src="/node_modules/angular-resource/angular-resource.min.js"></script>-->
<!--<script src="/dist/ccms_components.min.js"></script>-->
<!--<script src="index.js"></script>-->

<script src="index.js"></script>


</body>
</html>
