<div class="sms-preview-holder">
	<div class="sms-preview-mock">
		<div class="sms-preview-header">
			<span class="sms-preview-battery"></span>
		</div>

		<div class="sms-preview">
			<div class="sms-preview-content"></div>
		</div>
	</div>

	<div class="sms-preview-stat"><span class="sms-preview-num">{{totalChars}}</span> 个字(不含变量)，<span class="sms-preview-num">{{totalVars}}</span> 个变量</div>

	<div class="sms-preview-tips">上图仅为操作预览，最终计数以实际发送为准，查看
		<a href="javascript:void(0);"
			 tooltip-placement="top-right"
			 tooltip="'单条短信字数限制 70 字；超出 70 字，按 67 字条计费；\n字数和计费条数以实际执行时发送为准。'">计费规则</a>
	</div>
</div>
