<div class="sms-preview-holder">
	<div class="sms-preview-mock">
		<div class="sms-preview-header">
			<span class="sms-preview-battery"></span>
		</div>

		<div class="sms-preview">
			<div class="sms-preview-content"></div>
		</div>
	</div>

	<div class="sms-preview-stat">
		<span class="sms-preview-num">{{totalChars + newLineNum}}</span> 个字(不含变量
		<span ng-if="newLineNum > 0">，含
			<span class="sms-preview-num">{{newLineNum}}</span>个换行符</span>)，
		<span class="sms-preview-num">{{totalVars}}</span> 个变量
	</div>
	<div class="sms-preview-tips">
		<p ng-bind-html="smsPreviewTipsInTipsText"></p>
		<span ng-bind="smsPreviewTipsText"></span>
	</div>
</div>
