<div class="sms-preview-holder">
	<div class="sms-preview-mock">
		<div class="sms-preview-header">
			<span class="sms-preview-battery"></span>
		</div>

		<div class="sms-preview">
			<div class="sms-preview-content"></div>
		</div>
	</div>

	<div class="sms-preview-stat"><span class="sms-preview-num">{{totalChars}}</span> 个字(<span ng-bind="smsPreviewStatText"></span>)，<span class="sms-preview-num">{{totalVars}}</span> 个变量</div>

	<div class="sms-preview-tips"><span ng-bind="smsPreviewTipsText"></span>
		<a href="javascript:void(0);"
			 tooltip-placement="top-right"
			 cc-tooltip="smsPreviewTipsInTipsText">计费规则</a>
	</div>
</div>
