<div class="date-picker-holder">
	<form name="datePicker"
				ng-class="{'date-picker': true, 'disabled': ctrl.disabled, 'disabledInput': !ctrl.disabled && ctrl.disabledInput}"
				ng-mouseover="onMouseover = true"
				ng-mouseout="onMouseover = false"
				ng-click="ctrl.toggleCalendar($event)">
		<input class="date-picker-input date-picker-input-year"
			   		 ng-hide="ctrl.hideYear()"
					 name="year"
					 placeholder="YYYY"
					 maxlength="4"
					 ondragstart="return false;"
					 ondrop="return false;"
					 ng-model="ctrl.parts.year"
			   		 autocomplete="off"
					 ng-min="0"
					 ng-max="9999"
					 ng-disabled="{{ctrl.disabledInput}}"
					 ng-keydown="ctrl.setInputLength($event)"
					 ng-keyup="ctrl.validateValue($event)"
					 ng-focus="ctrl.focusInput($event)"
					 ng-blur="ctrl.updateValue($event)"><span ng-hide="ctrl.hideYear()" class="delimiter">/</span><input
					 ng-hide="ctrl.hideMonth()"
					 class="date-picker-input date-picker-input-month"
					 ng-style="{'marginLeft': ctrl.hideYear() ? '5px' : '0'}"
					 name="month"
					 placeholder="MM"
					 maxlength="2"
					 ondragstart="return false;"
					 ondrop="return false;"
					 ng-model="ctrl.parts.month"
					 autocomplete="off"
					 ng-min="1"
					 ng-max="12"
					 ng-disabled="{{ctrl.disabledInput}}"
					 ng-keydown="ctrl.setInputLength($event)"
					 ng-keyup="ctrl.validateValue($event)"
					 ng-focus="ctrl.focusInput($event)"
					 ng-blur="ctrl.updateValue($event)"><span ng-hide="ctrl.hideMonth()" class="delimiter">/</span><input
					 class="date-picker-input date-picker-input-date"
					 ng-style="{'marginLeft': ctrl.hideMonth() ? '5px' : '0'}"
					 name="date"
					 placeholder="DD"
					 maxlength="2"
					 ondragstart="return false;"
					 ondrop="return false;"
					 ng-model="ctrl.parts.date"
					 autocomplete="off"
					 ng-min="1"
					 ng-max="ctrl.calDateMax()"
					 ng-disabled="{{ctrl.disabledInput}}"
					 ng-keydown="ctrl.setInputLength($event)"
					 ng-keyup="ctrl.validateValue($event)"
					 ng-focus="ctrl.focusInput($event)"
					 ng-blur="ctrl.updateValue($event)">

		<span ng-show="!ctrl.dateOnly">
			<input class="date-picker-input date-picker-input-hour"
						 name="hour"
						 placeholder="hh"
						 maxlength="2"
						 ondragstart="return false;"
						 ondrop="return false;"
						 ng-model="ctrl.parts.hour"
				         autocomplete="off"
						 ng-min="0"
						 ng-max="23"
				   	     ng-disabled="{{ctrl.disabledInput}}"
						 ng-keydown="ctrl.setInputLength($event)"
						 ng-keyup="ctrl.validateValue($event)"
						 ng-focus="ctrl.focusInput($event)"
						 ng-blur="ctrl.updateValue($event)"><span class="delimiter">:</span><input class="date-picker-input date-picker-input-minute"
						 name="minute"
						 placeholder="mm"
						 maxlength="2"
						 ondragstart="return false;"
						 ondrop="return false;"
						 ng-model="ctrl.parts.minute"
						 autocomplete="off"
						 ng-min="0"
						 ng-max="59" ng-disabled="{{ctrl.disabledInput}}"
						 ng-keydown="ctrl.setInputLength($event)"
						 ng-keyup="ctrl.validateValue($event)"
						 ng-focus="ctrl.focusInput($event)"
						 ng-blur="ctrl.updateValue($event)"><span class="delimiter" ng-hide="ctrl.hideSeconds()">:</span><input class="date-picker-input date-picker-input-second"
						 name="second"
						 placeholder="ss"
						 maxlength="2"
						 ondragstart="return false;"
						 ondrop="return false;"
						 ng-model="ctrl.parts.second"
						 autocomplete="off"
						 ng-min="0"
						 ng-max="59" ng-disabled="{{ctrl.disabledInput}}"
						 ng-hide="ctrl.hideSeconds()"
						 ng-keydown="ctrl.setInputLength($event)"
						 ng-keyup="ctrl.validateValue($event)"
						 ng-focus="ctrl.focusInput($event)"
						 ng-blur="ctrl.updateValue($event)">
		</span>

		<span class="date-picker-clear iconfont icon-clear"
					ng-show="onMouseover"
					ng-click="ctrl.clearValue($event)"></span>

		<span class="date-picker-icon date-picker-icon-calendar iconfont icon-calendar"></span>
	</form>

	<cc-calendar on-calendar-open="ctrl.onCalendarOpen()"
				 on-calendar-close="ctrl.onCalendarClose()"
				 default-calendar-value="ctrl.defaultCalendarValue"
				 is-festival="ctrl.isFestival"
				 custom-festivals="ctrl.customFestivals"
				 disable-year="ctrl.disableYear"
				 disable-month="ctrl.disableMonth"
				 display-format="{{ctrl.displayFormat}}"
				 min-year="ctrl.minYear"
				 max-year="ctrl.maxYear"
	></cc-calendar>
</div>
