<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body ng-app="componentsApp" ng-controller="ctrl as app">
	<select style="display: block; clear: both; margin-bottom: 10px;"
			ng-options="channel.name for channel in app.channelInfo"
			ng-model="app.channel"></select>

	<div style="float: left;">
		<sms-editor opts="app.channel"></sms-editor>

		<input type="text"
			   placeholder="签名"
			   ng-model="app.channel.customSignature">

		<label><input type="checkbox" ng-model="app.channel.useUnsubscribe"> <span ng-bind="app.smsEditorOptions.unsubscribeText"></span></label>
	</div>

	<div style="float: left; margin-left: 50px;">
		<sms-preview opts="app.channel"></sms-preview>
	</div>

	<div style="clear: both;">
		<h2>短信编辑器结果：</h2>
		<div ng-bind="app.channel.text" style="border: 1px solid; padding: 10px; width: 500px;"></div>
	</div>

	<script src="/components.js"></script>
	<script src="/node_modules/angular-resource/angular-resource.min.js"></script>
	<script src="index.js"></script>
</body>
</html>
