@import "../../../assets/iconfont/iconfont";
@import "../../styles/mixins";
@import "../../styles/input";

dropdown-multiselect,
cc-dropdown-multiselect {
	display: inline-block;
	vertical-align: middle;
}
.dropdown-multiselect {
	position: relative;
	min-width: 64px;
	max-width: 280px;
	vertical-align: middle;

	.dropdown-select-input-wrap {
		display: flex;
		background-color: #fff;
		border: solid 1px $input-border-color;

		@at-root .active#{&} {
			border-color: $input-active-border;
		}

		.dropdown-select-input {
			flex: 1;
			min-width: 0;
			padding-right: 0;
			line-height: $control-height;
			vertical-align: top;
			background-color: inherit;
			border: none;
			// TODO: input 字体大小应该在基础组件中写？
			font-size: 12px;
			&[readonly] {
				user-select: none;
			}
		}

		.dropdown-select-icons {
			display: inline-block;
			background: inherit;
		}

		%action-icon {
			@extend .iconfont;
			display: inline-block;
			padding-left: 8px;
			line-height: $control-height;
			cursor: pointer;
			color: #c9c9c9;
			&:last-child {
				padding-right: 8px;
			}
			&:hover, .active > & {
				color: $input-active-border;
			}
		}

		.dropdown-select-clear {
			@extend %action-icon;
			@extend .icon-clear;
			font-size: 12px;
			display: inline-block;
			visibility: hidden;
			:hover > &.visible {
				visibility: visible;
			}
		}
		.dropdown-select-down {
			@extend %action-icon;
			@extend .icon-arrow;
			font-size: 12px;
		}
	}

	.dropdown-panel {
		&.hide {
			display: none !important;
		}
		> .content {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1;
			min-width: 100%;
			max-width: 150%;
			box-sizing: border-box;
			border: solid 1px $input-border;
			background-color: #fff;
		}
		.dropdown-list {
			max-height: 152px;
			overflow-y: scroll;
			padding: 0;
			list-style: none;
			border-bottom: solid 1px $input-border;
			li {
				@include cut-long-text;
				box-sizing: border-box;
				height: 30px;
				line-height: 30px;
				padding: 0 9px;
				font-size: 12px;
				background: #fff;
				cursor: pointer;
				&.focus, &:hover {
					background-color: #f6f6f6;
				}
				&.empty-list-item {
					cursor: default;
					&:hover {
						background-color: #fff;
					}
				}
				> label {
					display: block;
					cursor: pointer;
					> input[type="checkbox"] {
						margin-right: 5px;
					}
				}
				.highlight {
					color: #0083ba;
				}
			}
		}
		.confirm-buttons {
			float: right;
			margin: 8px;
		}
	}
}

