<div class="dropdown-multiselect" cc-dropdown
		is-open="$ctrl.isOpen"
		auto-close="$ctrl.autoClose"
		ng-class="{active: $ctrl.isActive, disabled: $ctrl.disabled}"
		on-dropdown-open="$ctrl.onOpen()"
		on-dropdown-close="$ctrl.onClose()">
	<div class="dropdown-select-input-wrap">
		<input type="text" class="dropdown-select-input" placeholder="{{$ctrl.placeholder}}"
				ng-readonly="!$ctrl.searchable"
				ng-focus="$ctrl.setActiveState(true)"
				ng-blur="$ctrl.setActiveState(false)"
				ng-change="$ctrl.onSearchTextChange($ctrl.title)"
			    ng-disabled="$ctrl.disabled"
				ng-model="$ctrl.title"
				title="{{ $ctrl.title }}">
		<div class="dropdown-select-icons"
			><span class="dropdown-select-clear"
					ng-class="{visible: $ctrl.title.length}"
					ng-if="!$ctrl.disabled && $ctrl.searchable"
					ng-click="$ctrl.clear()"></span
			><span class="dropdown-select-down" cc-dropdown-toggle></span>
		</div>
	</div>
	<div cc-dropdown-panel>
		<ul class="dropdown-list">
			<li ng-if="$ctrl.hasSelectAll">
				<label>
					<input type="checkbox"
						   ng-checked="$ctrl.selectAll"
						   ng-click="$ctrl.toggleAll(!$ctrl.selectAll)">
					<span>全选</span>
				</label>
			</li>
			<li ng-repeat="item in $ctrl.items track by $index"
				ng-class="{focus: $index === $ctrl.focusIndex}"
				title="{{item[$ctrl.mapping.displayField]}}">
				<label ng-disabled="item.disabled">
					<input type="checkbox"
							ng-checked="$ctrl.selection.indexOf(item) > -1"
							ng-click="$ctrl.toggleSelection(item)"
							ng-disabled="item.disabled">
					<span ng-bind-html="$ctrl.highlight(item[$ctrl.mapping.displayField], item.hiText || $ctrl.title)"></span>
				</label>
			</li>
			<li class="empty-list-item"
					ng-if="$ctrl.searchable" ng-show="!$ctrl.items.length && $ctrl.title.length">
				<span>没有匹配</span>
			</li>
		</ul>
		<div class="confirm-buttons" ng-if="$ctrl.confirmButton">
			<button class="btn-ok-normal" ng-click="$ctrl.confirmSelection()">确认</button>
			<button class="btn-cancel-normal" ng-click="$ctrl.cancelSelection()">取消</button>
		</div>
	</div>
</div>
