<div class="sms-editor">
	<div class="sms-keyword-type-selector" ng-if="ctrl.keywordTypes.length > 1">
        <span ng-repeat="keywordType in ctrl.keywordTypes"
			  ng-class="'sms-keyword-type ' + keywordType + (keywordType === ctrl.keywordTypeDisplay ? ' active' : '')"
			  ng-click="ctrl.setKeywordType(keywordType)">{{keywordType}}</span>
	</div>

	<div class="sms-keywords-holder" ng-if="ctrl.opts.keywords.length">
		<ul ng-class="'sms-keywords' + (ctrl._showAllKeywords ? ' expanded': '')">
			<li class="sms-keyword"
				ng-repeat="keyword in ctrl.opts.keywords | filter:{_display: true}"
				ng-click="ctrl.insertKeyword(keyword.text, keyword.type)">#{{keyword.text}}
			</li>
		</ul>

		<span class="sms-keywords-toggle"
					ng-show="ctrl.testShowToggleOrNot()"
					ng-click="ctrl._showAllKeywords = !ctrl._showAllKeywords"></span>
	</div>

	<div class="sms-content-holder">
		<div contenteditable="{{!ctrl.opts.disabled}}"
			 data-content
			 ng-keyup="ctrl.onChange()"
			 ng-mouseup="ctrl.onChange()"
			 ng-class="'sms-content' + (ctrl.keywordTypes.length <= 1 ? ' sms-no-keyword-types' : '')"
			 ng-paste="ctrl.onPaste($event)">请输入短信内容…</div>

		<div class="sms-url-tips" ng-show="ctrl._hasUrl && !ctrl._urlTipClosed">输入短链地址时，请在后方加上 #，以确保短链能够正常打开，如 www.shuyun.com# <span class="sms-url-tips-close" ng-click="ctrl._urlTipClosed = true"></span></div>

		<div class="sms-url-tips" ng-show="ctrl._hasInvalidStr && !ctrl._invalidStrClosed">您输入的短信内容中含非法字符，已进行过滤。 <span class="sms-url-tips-close" ng-click="ctrl._invalidStrClosed = true"></span></div>

		<div class="sms-content-footer" ng-if="ctrl.emoIcons && ctrl.emoIcons.length">
			<ul class="sms-emotions">
				<li ng-repeat="emo in ctrl.emoIcons" ng-click="ctrl.insertEmo(emo)"><img ng-src="{{ctrl.EMO_BASE_URL + emo + '.gif'}}" alt="{{emo}}" ></li>
			</ul>
		</div>
	</div>

	<div class="sms-temp" ng-model="ctrl._tempText" style="display: none"></div>
</div>
