.wechat-box {
	font-size: 14px;
	color: #08bb0b;
	display: inline-block;
	position: relative;
}

.tooltip-box {
	display: none;
	position: absolute;
	top: 20px;
	background: #ffffcc;
	width: 500px;
	height: 100px;
	border: solid 1px red;
	z-index: 45;
}

.wechat-box:hover .tooltip-box {
	display: block;
}