<div class="customer-profile-list-mode">
	<ul class="left-panel-list">
		<li class="left-panel-item"
				ng-repeat="attributeSetting in $ctrl.attributesSetting track by $index"
				ng-class="{ 'left-panel-item--active': $ctrl.activeAttributeBlockIndex === $index }"
				ng-click="$ctrl.scrollToAttributeBlock({index: $index})">
			<span class="item-icon iconfont" cc-bind-html="attributeSetting.icon"></span><span
				ng-bind="attributeSetting.title"></span>
		</li>
	</ul>
	<div class="right-panel-block">
		<cc-customer-attribute-editor ng-repeat="attributeSetting in $ctrl.attributesSetting track by $index"
															 attribute-setting="attributeSetting"
															 scroll-to-attribute-block="$ctrl.scrollToAttributeBlock(index)"
															 update-attribute-block-offset="$ctrl.updateAttributeBlockOffsetList()"
															 customer-data="$ctrl.customerData"></cc-customer-attribute-editor>
	</div>
</div>
