cc-tree {
  .tree {
	.treeItem {
	  	padding-left: 15px;
	  	padding-top: 5px;
	  	padding-bottom: 5px;
		& > .treeItemContent {
			cursor: pointer;
			& > .treeArrow {
				font-size: 2px;
				position: relative;
				top: -3px;
			}
			& > .noCheckbox {
				line-height: 16px;
				position: relative;
				top: -3px;
				padding: 3px;
				margin-left: 4px;
			}
		}
		& > .treeChildren {
			padding: 5px 0 0 0;
		}
	    .treeLabel.selected {
			background: #00aaf1;
			color: #fff;
		}
	    &:last-child {
		 	padding-bottom: 0;
	   	}
	}
  }
}
