.cc-tree{
	height: 100%;
	.cc-tree-list-area{
		width: 100%;
		height: 100%;
		overflow: auto;
		> cc-tree-list{
			width: max-content;
			min-width: 100%;
		}
		cc-tree-list{
			display: block;
			.cc-tree-list {
				user-select: none;
				color: #3d3d3d;
			}
		}
	}
	&.support-search{
		.cc-tree-list-area{
			height: calc(100% - 40px);
		}
	}

	.icon-folder {
		color: #90b9d2;
		font-size: 14px;
	}

	.icon-nextpage {
		color: #999;
	}

	.cc-tree-node {
		line-height: 25px;
		cursor: pointer;
		display: flex;
		align-items: center;

		&.editing {
			> * {
				vertical-align: middle;
				font-size: 12px;
			}

			> input {
				display: inline-block;
				height: 20px;
				width: 80px;
				margin-right: 0.5em;
			}

			> .icon-finish {
				font-size: 0.8em;
			}
			> .icon-banyuan{
				cursor: default;
				animation: rotationMedia 2s ease-in-out infinite;
			}
			> .icon-close {
				margin-left: 8px;
				font-size: 0.8em;
			}
			> .iconfont:not(.icon-banyuan):hover{
				color: #0083BA;
			}
		}
		.fake-radio{
			display: inline-block;
			white-space: nowrap;
			line-height: 1.8;
			.radio-button-icon{
				margin: 0 4px;
				display: inline-block;
				width: 16px;
				vertical-align: middle;
			}
			*{
				box-sizing: border-box;
			}
		}
		&:hover {
			background-color: #eee;
		}

		.icon-nextpage {
			font-size: 12px;
			display: inline-block;
			transform: scale(.9);
			&.open {
				transform: rotate(90deg);
			}
		}

		.icon-folder {
			color: #90b9d2;
			margin: 0 5px 0 2px;
		}

		.tree-text {
			white-space: nowrap;
			.hot-text{
				color: #00aaf1;
			}
		}
		&.active{
			background: #e7f3fc;
		}
		cc-checkbox{
			width: 100%;
			.cc-checkbox {
				display: block;
				white-space: nowrap;
				line-height: 1.8;
				.cc-checkbox-input{
					display: inline-block;
					width: 16px;
					vertical-align: middle;
					margin: 0 4px;
				}
				.cc-checkbox-label{
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
	.cc-tree-menu {
		display: none;
		position: fixed;
		z-index: 100;
		padding: 3px 0;
		border: 1px solid #E8E8E8;
		width: 86px;
		background-color: #FFFFFF;

		> li {
			height: 22px;
			line-height: 22px;
			cursor: pointer;
		  	> span{
			  display: block;
			  padding-left: 16px;
			}
		  	&.disabled{
			  cursor: not-allowed;
			  opacity: .6;
			}
			&:hover:not(.disabled) {
				background-color: #e9e9e9;
			}
		}
	}
	.cc-tree-search{
		width: 250px;
		max-width: 100%;
		position: relative;
		margin-bottom: 10px;
		.search-input{
			line-height: 30px;
			vertical-align: top;
			padding-right: 28px;
		}
		.search-icon{
			position: absolute;
			top: 0;
			right: .5em;
			line-height: 30px;
			color: #dbdbdb;
			cursor: pointer;
			&:hover{
				color: #aacbe1;
			}
		}
	}
}

/* 旋转动画特效 */
@keyframes rotationMedia{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
