.cc-tree{
	.cc-tree-list {
		user-select: none;
		color: #3d3d3d;
		width: 100%;
	}

	.icon-folder {
		color: #90b9d2;
		font-size: 14px;
	}

	.icon-nextpage {
		color: #999;
	}

	.cc-tree-node {
		line-height: 25px;
		cursor: pointer;
		display: flex;
		align-items: center;

		&.editing {
			> * {
				vertical-align: middle;
			}

			> input {
				display: inline-block;
				height: 20px;
				width: 80px;
				margin-right: 0.5em;
			}

			> .icon-edit {
				font-size: 0.8em;
				margin-right: 8px;
			}
			> .icon-close {
				font-size: 0.8em;
			}
			> .iconfont:hover{
				color: #0083BA;
			}
		}
		.fake-radio{
			display: inline-block;
			.radio-button-icon{
				margin: 0 4px;
			}
			*{
				box-sizing: border-box;
			}
		}
		&.selected .name{
			color: #FFB951;
		}
		&:hover {
			background-color: #e9e9e9;
		}

		.icon-nextpage {
			font-size: 12px;
			display: inline-block;
			transform: scale(.9);
			&.open {
				transform: rotate(90deg);
			}
		}

		.icon-folder {
			color: #90b9d2;
			margin: 0 5px 0 2px;
		}

		> .name {
			white-space: nowrap;
		}
		.cc-checkbox .cc-checkbox-input{
			margin-left: 4px;
			margin-right: 4px;
		}
	}
	.cc-tree-menu {
		display: none;
		position: fixed;
		z-index: 100;
		padding: 3px 0;
		border: 1px solid #E8E8E8;
		width: 86px;
		background-color: #FFFFFF;

		> li {
			height: 22px;
			line-height: 22px;
			padding-left: 16px;
			cursor: pointer;

			&:hover {
				background-color: #e9e9e9;
			}
		}
	}
	.cc-tree-search{
		width: 250px;
		max-width: 100%;
		position: relative;
		margin-bottom: 10px;
		.search-input{
			line-height: 30px;
			vertical-align: top;
			padding-right: 28px;
		}
		.search-icon{
			position: absolute;
			top: 0;
			right: .5em;
			line-height: 30px;
			color: #dbdbdb;
			cursor: pointer;
			&:hover{
				color: #aacbe1;
			}
		}
	}
}
