<section class="cc-tree" ng-class="{'support-search': $ctrl.supportSearch}">
	<cc-tree-search
		tree-map="$ctrl.treeMap"
		search-placeholder="$ctrl.searchPlaceholder"
		search-max-len="$ctrl.searchMaxLen"
		on-done="$ctrl.updateSearchText(searchText)"
		ng-if="$ctrl.supportSearch"
	></cc-tree-search>
	<div class="cc-tree-list-area">
		<cc-tree-list
			tree-map="$ctrl.treeMap"
			nodes="$ctrl.treeData"
			search-text="$ctrl.searchText"
			node-max-len="$ctrl.nodeMaxLen"
			support-checkbox="$ctrl.supportCheckbox"
			is-radio-model="$ctrl.isRadioModel"
			hide-radio-model="$ctrl.hideRadioModel"
			on-open-menu="$ctrl.onOpenMenu"
		></cc-tree-list>
	</div>
	<cc-tree-menu
		tree-map="$ctrl.treeMap"
		menu-hash="$ctrl.menuHash"
		max-level="$ctrl.maxLevel"
		active-node="$ctrl.activeNode"
		max-level="$ctrl.maxLevel"
		add-to-position="$ctrl.addToPosition"
		ng-if="$ctrl.supportMenu"></cc-tree-menu>
</section>
