<div class="dropdown-select" cc-dropdown
		is-open="$ctrl.isOpen"
		auto-close="$ctrl.autoClose"
		ng-class="{active: $ctrl.isActive, disabled: $ctrl.disabled}"
		on-dropdown-open="$ctrl.onOpen()"
		on-dropdown-close="$ctrl.onClose()">
	<div class="dropdown-select-input-wrap">
		<input type="text" class="dropdown-select-input" placeholder="{{$ctrl.placeholder}}"
				ng-readonly="!$ctrl.searchable"
				ng-focus="$ctrl.isActive = true"
				ng-blur="$ctrl.isActive = false"
				ng-change="$ctrl.onSearchTextChange($ctrl.title)"
				ng-model="$ctrl.title">
		<div class="dropdown-select-icons"
			><span class="dropdown-select-clear"
					ng-class="{visible: $ctrl.title.length}"
					ng-if="$ctrl.searchable"
					ng-click="$ctrl.clear()"></span
			><span class="dropdown-select-down" cc-dropdown-toggle></span>
		</div>
	</div>
	<div class="dropdown-panel" cc-dropdown-panel>
		<ul class="dropdown-list">
			<li ng-repeat="item in $ctrl.items track by $index"
					ng-click="$ctrl.selectItemAt($index);"
					ng-class="{focus: $index === $ctrl.focusIndex}">
				<span cc-bind-html="$ctrl.highlight(item[$ctrl.mapping.displayField], item.hiText || $ctrl.title)"></span>
			</li>
			<li class="empty-list-item"
					ng-if="$ctrl.searchable" ng-show="!$ctrl.items.length && $ctrl.title.length">
				<span>没有匹配</span>
			</li>
		</ul>
	</div>
</div>
