@import "../../param";

customer-attribute-editor:nth-of-type(1) .attribute-editor-header{
  background-color: $header-background-color-1;
}

customer-attribute-editor:nth-of-type(2) .attribute-editor-header{
  background-color: $header-background-color-2;
}

customer-attribute-editor:nth-of-type(3) .attribute-editor-header{
  background-color: $header-background-color-3;
}

customer-attribute-editor:last-child .customer-attribute-editor{
  margin-bottom: 40px;

  li {
	margin-bottom: 20px;
  }
}

.customer-attribute-editor{
  background-color: $white;
  margin-bottom: 15px;

  .attribute-editor-header{
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	color: $white;
  }

  .attribute-block{
	margin: 0;

	.attribute-block-title{
	  height: 30px;
	  line-height: 30px;
	  border-bottom: 1px solid #ddd;
	  margin-bottom: 6px;
	}

	.attribute-block-selector{
	  float: right;
	  width: 100px;

	  .dropdown-select .dropdown-select-input-wrap{
		border: 0;
	  }

	  .dropdown-select .dropdown-panel .dropdown-list{
		border: 0;
		overflow: inherit;
	  }

	  input{
		margin-top: 3px;
		height: 26px;
		line-height: 26px;
		color: #00aaf1;
	  }
	}
  }

  .attribute-editor-content{
	padding: 10px 15px;
	line-height: 22px;
	color: $default-font-color;

	.attribute-block-item{
	  margin: 0;
	  display: flex;
	}

	.attribute-item-label{
	  margin-right: 15px;
	  width: 136px;
	  text-align: right;
	}

	.attribute-item-content{
	  flex: 1;
	}
  }
}
