@import "../../param";

cc-customer-attribute-editor:nth-of-type(1) .attribute-editor-header{
  background-color: $header-background-color-1;
}

cc-customer-attribute-editor:nth-of-type(2) .attribute-editor-header{
  background-color: $header-background-color-2;
}

cc-customer-attribute-editor:nth-of-type(3) .attribute-editor-header{
  background-color: $header-background-color-3;
}

cc-customer-attribute-editor:last-child .customer-attribute-editor{
  margin-bottom: 40px;

  li {
	margin-bottom: 12px;
  }
}

.customer-attribute-editor{
  background-color: $white;
  margin-bottom: 15px;

  a{
	text-decoration: none;
	color: #00aaf1;
  }

  .attribute-editor-header{
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	color: $white;
  }

  .attribute-block{
	margin: 0;

	.attribute-block-title{
	  height: 30px;
	  line-height: 30px;
	  border-bottom: 1px solid #ddd;
	  margin-bottom: 15px;
	}

	.attribute-block-selector{
	  float: right;
	  width: 100px;

	  .dropdown-select .dropdown-select-input-wrap{
		border: 0;
		margin-top: -2px;
	  }

	  .dropdown-select .dropdown-panel .dropdown-list{
		border: 0;
		overflow: inherit;
	  }

	  input{
		color: #00aaf1;
	  }
	}

	.add-attribute-button{
	  color: #0097d7;
	  margin: 10px;
	}
  }

  .customer-defined-attribute-block{
	min-height: 335px;
	display: flex;
	flex-flow: column nowrap;

	.back-to-normal{
	  float: right;
	}

	.attribute-block-item{
	  flex: 1;
	}
  }

  .attribute-editor-content{
	padding: 10px 15px;
	line-height: 22px;
	color: $default-font-color;

	.attribute-block-item{
	  margin: 0;
	  display: flex;

	  .icon-edit{
		margin-left: 10px;
		cursor: pointer;
	  }
	}

	.attribute-item-label{
	  margin-right: 15px;
	  width: 144px;
	  text-align: right;
	}

	.attribute-item-content{
	  flex: 1;
	  position: relative;

	  .icon-edit{
		color: #00aaf1;
	  }
	}

	.attribute-data-modify-block{
	  position: absolute;
	  top: 0;
	  background:#f8f8f8;
	  box-shadow:0 2px 4px 0 rgba(0,0,0,0.13);
	  border-radius:2px;
	  width:220px;
	  height:85px;
	  padding: 10px;
	  z-index: 1;

	  .button-row{
		margin-top: 12px;
		text-align: right;

		.btn-remark-confirm{
		  background: #00aaf1;
		  border: 0;
		  color: #fff;
		}
	  }
	}
  }
}
