<div class="customer-attribute-editor">
	<p class="attribute-editor-header" ng-bind="$ctrl.attributeSetting.title"></p>
	<ul class="attribute-editor-content">
		<li ng-repeat="attributeBlock in $ctrl.attributeSetting.attributeBlock track by $index">
			<dl class="attribute-block">
				<dt class="attribute-block-title">
					{{attributeBlock.title}}
					<dropdown-select class="attribute-block-selector" ng-if="attributeBlock.type === 'List'"
							model="ctrl.value2"
							datalist="['最近30天', '最近1年']">
					</dropdown-select>
				</dt>
				<dd class="attribute-block-item" ng-repeat="attribute in attributeBlock.attributeList track by $index">
					<label ng-bind="attribute.name + ': '"></label>{{$ctrl.attributesDataMap[attribute.attribute] !== undefined ? $ctrl.attributesDataMap[attribute.attribute] : attribute.defaultValue}}</dd>
			</dl>
		</li>
	</ul>
</div>
